﻿<div class="archiveCnt">
<div class="effectHover">
     {{if FullText != "0" }}
      <a href='${Link}'>${Title}</a>
     {{else}}
      <a  href='${LinkDownload}'></a>
        {{/if}}  
         </div> 
         {{if Cover != null}}
          <div class="cover">
     {{if FullText != "0" }}
     <a href="${Link}" title="${Title}">{{if Cover != null}}<img src='/HP3Image/cover/${Cover}' alt='${Title}' />{{/if}}</a>
     {{else}}
      <a onclick="recordOutboundLink('${LinkDownload}','download archivio','download','${Title}','');return false;" href="${LinkDownload}" title="${Title}">{{if Cover != null}}<img src='/HP3Image/cover/${Cover}' alt='${Title}' />{{/if}}</a>
     {{/if}}
    </div>
    {{/if}}
  {{if Cover != null}}
     <div class="cnt">
   {{else}}
   <div class="cnt cntNoCover">
   {{/if}}
        {{if FullText != "0" }}
        <h3>
      <a href='${Link}' title="${Title}">${Title} </a>
      </h3>
      <p class="date"> ${DatePublish} </p>
      <br />{{html BookReference}} <br /> {{html Comment}}
     {{else}}
     <h3>
      <a onclick="recordOutboundLink('${LinkDownload}','download archivio','download','${Title}','');return false;" href='${LinkDownload}' title="${Title}">${Title}</a>
         </h3>
      <p class="date"> ${DatePublish} </p>
       <br /> {{html BookReference}} <br /> {{html Comment}}
        {{/if}}  
     
      
       
        {{if Authors && Authors.length > 0}}
            -
            {{each Authors}}
                ${Name} ${Surname}
            {{/each}}
        {{/if}}
        
        <p>{{html Launch}}</p>
      
    </div>
    <div class="tools">
     {{if FullText != "0" }}
    <a href='${Link}'>${LinkSticker}</a>
    {{/if}}
    {{if LinkDownload != "#" }}
      <a onclick="recordOutboundLink('${LinkDownload}','download archivio','download','${Title}','');return false;" href='${LinkDownload}'>${LabelDownload}</a>
   {{/if}}
   </div>
</div>
