﻿<div class="archiveCnt">
<div class="effectHover">
     {{if FullText != "0" }}
      <a href='${Link}'>${Title}</a>
     {{else}}
      <a  href='${LinkDownload}'></a>
        {{/if}}  
         </div> 
         {{if Cover != null}}
        <div class="cover">
      {{if FullText != "0" }}
     <a href="${Link}" title="${Title}">{{if Cover != null}}<img src='/HP3Image/cover/${Cover}' alt='${Title}' />{{/if}}</a>
     {{else}}
      <a href="${LinkDownload}" title="${Title}">{{if Cover != null}}<img src='/HP3Image/cover/${Cover}' alt='${Title}' />{{/if}}</a>
     {{/if}}
    </div>
    {{/if}}
  {{if Cover != null}}
     <div class="cnt">
   {{else}}
   <div class="cnt cntNoCover">
   {{/if}}
        <h3>
        {{if FullText != "0" }}
      <a href='${Link}' title="${Title}">${Title}</a>
     {{else}}
      <a  href='${LinkDownload}'>${Title}</a>
        {{/if}}  
        </h3>
      
       <p class="date"> ${DatePublish} 
        {{if DatePublish != DateExpiry }}
        - ${DateExpiry} 
        {{/if}} 
        </p>

        <p class="Place">${Copyright}</p>

        {{if Authors && Authors.length > 0}}
            -
            {{each Authors}}
                ${Name} ${Surname}
            {{/each}}
        {{/if}}
        
        <p>{{html Launch}}</p>
      
    </div>
    <div class="tools">
     {{if FullText != "0" }}
    <a href='${Link}' title="${LinkSticker}" runat="server">${LinkSticker}</a>
    {{/if}}
    {{if LinkDownload != "#" }}
      <a  href='${LinkDownload}' title="${LabelDownload}" runat="server">${LabelDownload}</a>
    {{/if}}
   </div>
</div>