﻿
                {{if Rank == true}}
                <div class="last-box sel">
                {{else}}
                <div class="last-box">
                {{/if}} 
            	<div class="top">
                	<h5>${Day} ${Month}</h5>
                </div>
                <div>
                	{{if Cover != null}}<img src='/HP3Image/cover/${Cover}' alt='${Title}' />{{/if}} 
                </div>
                <div class="txt">
                	<a href="${Link}" title="">${Title}</a>
                </div>
              {{if Rank == true}} 
                <div class="bottom">
                	<a href="${Link}" title="">${LinkSticker}</a>
                </div>
               {{/if}} 
        	</div><!--end last-box-->