﻿
<div class="single-box-com">
                <div class="imgs">
					{{if Cover != null}}<img src='/HP3Image/cover/${Cover}' alt='${Title}' />{{/if}} 
                </div>
                <div class="info-com">
                	<h5>${Day} ${Month}</h5>
                    <p><a href="${Link}" title="${Title}">${Title}</a></p>
                </div>
        	</div><!--end man-box-->