﻿<div id="singleEventsInt" class="singleEventsInt">
<div class="img">     
    {{if LinkDownload != "#"}}
           <a onclick="recordOutboundLink('${LinkDownload}','download press comunicazioni','download','${Title}','');return false;" href="${LinkDownload}" title="${Title}"><img src='/HP3Image/cover/${Cover}' alt='${Title}' class="imgCls" style="display: inline-block; width: 140px; left: 0px; top: 0px;" /></a>
    {{else}}
        {{if FullText != "0" }}
            <a href='${Link}'><img src='/HP3Image/cover/${Cover}' alt='${Title}' style="display: inline-block; width: 140px; left: 0px; top: 0px;" /></a>
        {{else}}
           <img src='/HP3Image/cover/${Cover}' alt='${Title}' class="imgCls" style="display: inline-block; width: 140px; left: 0px; top: 0px;" />           
        {{/if}}
    {{/if}}
</div>
<div class="dateInt">
    {{if !HideDateDay }}<span>${Day}</span>{{/if}}
    <span class="mese">${Month}</span>
    <span class="anno">${Year}</span>
</div>
<div class="txtEvContInt">
<div class="txtEvInt" style="display: block;">
<h3>${Title}</h3>
<p>{{html Launch}}</p>
</div>
<div class="goEv" style="display: none;">
{{if LinkDownload != "#"}}
           <a onclick="recordOutboundLink('${LinkDownload}','download press comunicazioni','download','${Title}','');return false;" href="${LinkDownload}" title="${Title}">
    {{else}}
        {{if FullText != "0" }}
            <a href='${Link}'>
        {{else}}
            <a title="Vai all'evento" href="#">
        {{/if}}
    {{/if}}
    Vai all'evento</a>
</div>
</div>
</div>

