﻿<div class="singleMiniGallery" id="${Key.Id}"> 
           
    <a title="${Title}" data-cont="${Key.Id}" data-gallery="${Link}" href="Javascript:void(0);"><img src='/HP3Image/cover/${Cover}' /></a>    
    <p><a title="${Title}" data-cont="${Key.Id}" data-gallery="${Link}" href="Javascript:void(0);">${Title}</a></p>

 
</div>