﻿<div class="archiveCnt">
<div class="effectHover">
     {{if FullText != "0" }}
      <a href='${Link}'>${Title}</a>
     {{else}}
      <a onclick="recordOutboundLink('${LinkDownload}','download press archivio','download','${Title}','');return false;" href='${LinkDownload}'></a>
        {{/if}}  
         </div> 
          {{if Cover != null}}
        <div class="cover">
     {{if FullText != "0" }}
     <a href="${Link}" title="${Title}"><img src='/HP3Image/cover/${Cover}' alt='${Title}' /></a>
     {{else}}
         {{if LinkDownload != "#"}}
           <a onclick="recordOutboundLink('${LinkDownload}','download press archivio','download','${Title}','');return false;" href="${LinkDownload}" title="${Title}"><img src='/HP3Image/cover/${Cover}' alt='${Title}' /></a>
        {{else}}
          <img src='/HP3Image/cover/${Cover}' alt='${Title}' />
         {{/if}}
     {{/if}}
    </div>{{/if}}
   {{if Cover != null}}
     <div class="cnt">
   {{else}}
   <div class="cnt cntNoCover">
   {{/if}}
       
     {{if FullText != "0" }}
   <h3><a href='${Link}' title="${Title}">${Title}</a></h3> 
     {{else}}
        
         {{if LinkDownload != "#"}}
        <h3><a onclick="recordOutboundLink('${LinkDownload}','download press archivio','download','${Title}','');return false;" href="${LinkDownload}" title="${Title}">${Title}</a></h3>
        {{else}}
        <h3>${Title}</h3>
         {{/if}}
      {{/if}}  
      
       <p class="date"> ${DatePublish} </p>
      <p>{{html Launch}}</p>
      
    </div>
    <div class="tools">
     {{if FullText != "0" }}
    <a href='${Link}' title="${Title}" runat="server">${LinkSticker}</a>
    {{/if}}
    {{if LinkDownload != "#" }}
      <a onclick="recordOutboundLink('${LinkDownload}','download press archivio','download','${Title}','');return false;" href='${LinkDownload}' title="${LabelDownload}" runat="server">${LabelDownload}</a>
    {{/if}}
   </div>
</div>