﻿
<div class="archiveCnt">
<div class="effectHover"><a href='${Link}'>${Title}</a> </div>   
   <div class="cntSingolo">
        <h3><a href='${Link}'>${Title}</a></h3>
      
       <p class="date"> ${DatePublish} </p>
        {{if Authors && Authors.length > 0}}
            -
            {{each Authors}}
                ${Name} ${Surname}
            {{/each}}
        {{/if}}
        
        <p>{{html Launch}}</p>
      
    </div>
    <div class="tools">
     {{if FullText != "0" }}
    <a href='${Link}'>Detail</a>
    {{/if}}
   
   </div>
</div>