﻿<div class="singleArchive positionRel pubbArcNew">
    <div class="cntArchive">
        <div class="generic">
            <div class="colArchive">
                <h2  {{if LinkDownload != "#" }}class="withDwn"{{/if}}>
                    {{if FullText != "0" }}
                    <a href="${Link}">${Title}</a>
                    {{else}}
                        {{if Linkexternal != "" }}
                            <a href="${Linkexternal}">${Title}</a>
                        {{else}}
                            <a href="${LinkDownload}">${Title}</a>
                        {{/if}}  
                    {{/if}}  
                </h2>
                     {{if FullText != "0" }}
                    <a href="${Link}" class="goSmall">${LinkSticker}</a>
                    {{else}}
                        {{if Linkexternal != "" }}
                            <a href="${Linkexternal}" class="goSmall">${LinkSticker}</a>
                        {{/if}}  
                    {{/if}}  
                    {{if LinkDownload != "#" }}
                    <a class="dwnArchive" onclick="recordOutboundLink('${LinkDownload}','download Pubblicazioni','download','${Title}','');return false;" href='${LinkDownload}' title="${Title}">${LabelDownload}</a>
                    {{/if}}
               {{if BookReference != null && BookReference!=''}}
                <p><span class="bold"></span>{{html BookReference}} </p>
                {{/if}}
               {{if Comment != null && Comment!=''}}
                <p><span class="bold"></span>
                    {{html Comment}}
                </p>
                {{/if}}

            </div><!--end colArchive-->
        </div><!--end container-->
    </div><!--end cntArchive-->
</div><!--end singleArchive-->

<script type="text/javascript">

    $(".singleArchive").mouseover(function () {
        $(this).addClass("bgGrey");
        $(this).find(".goSmall").addClass("goSmallOn");
        $(this).find(".dwnArchive").addClass("dwnArchiveOn");

    })
    .mouseout(function () {
        $(this).removeClass("bgGrey");
        $(this).find(".goSmall").removeClass("goSmallOn");
        $(this).find(".dwnArchive").removeClass("dwnArchiveOn");
    });

</script>