﻿<div class="boxLarge">
<h2>Sedi</h2>
    <div class="img"><a href="${Link}" title="${Title}"><img src='${Cover}' alt='' /></a></div>
    <div class="txt">
        <h3>
       
        <a href='${Link}'>${Title}</a> 
        
        </h3>
        <p>${DatePublish} 
        {{if Authors && Authors.length > 0}}
            -
            {{each Authors}}
                ${Name} ${Surname}
            {{/each}}
        {{/if}}
         </p>
        <p class="infoElearning">{{html Launch}}</p>
       
    </div>
</div>