html, body {	
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;	
}

img {
	border: 0;
}

p {
	margin:0; padding:0;
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
}

kbd {
	text-decoration:underline;
}

.error {
	font-weight: bold;
	color: Red;
}

.bl {	display: block; }
.fLeft { float:left; }
.fRight { float:right; }

.tLeft { text-align:left; }
.tRight { text-align:right; }
.tCenter { text-align:center; }

.clearer { clear: both; }

.strong { font-weight: bold; }

a.noHand {
	cursor:default;
}



.overlay 

{

      position: absolute;

      left: 0px;

      top: 0px;

      filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;

      /*cursor: wait;*/

      background-color: transparent;

}

.AbsOverlay {

      position: absolute;

      left: 0px;

      top: 0px;

      /*filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;*/

      /*cursor: wait;*/

      background-color:White;

}