﻿html, body, input, textarea, td, select, kbd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	
	color:#666;
}

a, a:link, a:visited, a:hover {
	font-weight: bold;
	color:#0054B4;	
}

h3 {
	margin:0 0 10px 0;
}

.label {
	font-weight: bold;
}

d.hrThinLGray, hr.hrThinLGray {
	height:1px;
	color:#D2D2D4;
	background-color:#D2D2D4;
}

@font-face {
    font-family: Chicago;
    font-style:  normal;
    font-weight: normal;
    src: url(../../_font/CHICAGO0.eot);
}

ul {
	list-style-type:square;
	margin:2px 0 10px 15px;
}

/*
@font-face {
    font-family: Eurostyle;
    font-style:  normal;
    font-weight: normal;
    src: url(../../_fonts/EUROSTI1.eot);
}

@font-face {
    font-family: EurostyleBold;
    font-style:  normal;
    font-weight: normal;
    src: url(../../_fonts/EUROSTI0.eot);
}
*/

.pagination {
	padding:10px 0;
	/*border-top:1px solid #666;*/
	font-size:14px;
	color:#999;
}
/*.dPagesTop {
	position:relative;
	top:30px;
	
	padding:10px 0;
	border-bottom:1px solid black;
}*/


/* ------------- STILI USATI NEI CONTENUTI ------------------ */
.tbl2col td {
	vertical-align:top;	
}

	.tbl2col td.col1, .tbl2col colgroup.col1 {
		padding-right:8px;		
	}
	
	.tbl2col td.col2, .tbl2col colgroup.col2 {
		padding-left:8px;
	}
	

.tblContentSplit2 td {
	vertical-align:top;	
}

	.tblContentSplit2 td.col1, .tblContentSplit2 colgroup.col1 {
		padding-right:8px;
		width:65%;
	}
	
	.tblContentSplit2 td.col2, .tblContentSplit2 colgroup.col2 {
		padding-left:50px;
		width:35%;
	}
	

	


.tbl2colUniform td {
	vertical-align:top;
	width:50%;
}

	.tbl2colUniform td.col1, .tbl2colUniform colgroup.col1 {
		padding-right:8px;		
	}
	
	.tbl2colUniform td.col2, .tbl2colUniform colgroup.col2 {
		padding-left:8px;
	}

.sepDotted1 {	
	border-bottom:1px dotted #DADADA;
	height:1px;
	margin:15px 0;
}

.sepSolid1 {	
	border-bottom:1px solid #D1D1D1;
	height:1px;
	margin:15px 0;
}


.fRightBorderedLeft {
	border-left:1px solid #FF6600;
	padding:0 0 0 5px;
	margin:0 0 10px 10px;
}

.imgLeft, .swfLeft {
	float:left;
	margin:0 10px 10px 0;
}

.imgRight, .swfRight {
	float:right;
	margin:0 0 10px 10px;
}

h3.subtitle {
	font-size:16px;
	color:#B4B4B4;
}

.orange {
	color:#FF6600;
}

.tblClientNeeds {
	border:1px solid #D2D2D4;
}

	.tblClientNeeds td {
		border:1px solid #D2D2D4;
	}
	
.aReadMore {
	color:#1CA8DD;
	margin-right:15px;
	font-size:10px; font-family:Verdana;
}

.aReadMore:visited {			
	color:#397992;
}



