﻿input.text, textarea, select.multiline {
	border:1px solid #999999;
	padding: 3px 2px;
}

input.button {
	padding: 2px 6px;
	background-color: #DDDDDD;
	border: 1px solid;
	border-color: White #AAAAAA #AAAAAA White;
	font-weight: bold;
}

label {
	font-weight: bold;
}

