﻿html, body {
	text-align: center;
}

	.dPage {		
		margin: auto;
		text-align: left;
		width: 964px;		
	}
	
	
	.dHeader {
		margin:18px 0 20px 0;
		position:relative;
	}
	
		.dHeader .dLanguages {
			position:absolute; top:0px; left:800px;		
			font:10px Tahoma;
			/*font-weight:bold;*/		
		}

		.dHeader .dChampions {
			position:absolute; top:-16px; left:590px;		
		}

		.dHeader .dShortcuts {
			position:absolute; top:20px; left:800px;		
			font:10px Tahoma;
			/*font-weight:bold;*/		
		}
	
		.dHeader a, 
		.dHeader a:visited {			
			color:#959595;
			text-decoration:none;
		}
		
		.dHeader a:hover {
			color:#959595;
			text-decoration:underline;
		}
		
		.dHeader a.selected,
		.dHeader a.selected:visited,
		.dHeader a.selected:hover {
			color:#CCC;
			text-decoration:none;
		}
	
	.dBreadcrumbs {
		background:url(../../_slice/snippet/top_content_details.gif) 0 0 no-repeat;
		height:20px;
		padding:14px 0 0 195px;
		font-size:11px;
	}
	
		.dBreadcrumbs a,
		.dBreadcrumbs a:visited {
			font-weight:normal;
		}
		
		.dBreadcrumbs a:hover {
			color:red;
		}
	
		.dMain {
			padding:20px 0;
		}	

		.dContent {
			z-index:10;
			padding:10px 0 30px 18px;		
			position:relative;
		}
		
			.dContent .error {
				margin:0 0 10px 0;
			}
			
		
		
			.dContent h2.title {
				font:normal 24px Arial;
				font-variant:small-caps;
				margin-bottom:10px;
			}
		
			.dContent h4.title {					
				font-style:normal;
				/*font-weight:bold;
				font-size:12px;*/
				font-weight:normal;
				font-size:18px;
				color:#F86700;
				margin-bottom:15px;
			}
			
			.dArchive {			
				
				
			}
 
			.dDetails {		
			
			}	
		
	.dFooterBar {
		height:13px;
		margin-top:15px;		
		background-color:#FFCC33;
		clear:both;		
	}
	
	.dFooter {					
		padding-top:10px;		
		font:10px Verdana;
		margin-bottom:15px;
	}
	
		.dFooter a,
		.dFooter a:hover,
		.dFooter a:visited {
			color:#959595;
		}
		
		.dFooter .dToContact {
			float:right;
			width:390px;			
		}
		
		.dFooter .dToContact .dNumber {
			float:right;
			font:normal 24px Arial;
			font-variant:small-caps;
		}
	
		