﻿.dNavigationColumn {
	/*background-color:#E8E8E8;			*/
	background:url(../../_slice/background/navcolumn.gif) 0 0 repeat-y;
	width:160px;
	font-family:Arial;
	padding:0px 15px 20px 0;
	/*border-bottom:14px solid #959595;*/
	float:left;
}

	.dNavigationColumn a {
		text-decoration:none;
	}

	.dNavigationColumn ul,
	.dNavigationColumn ul li {
		margin:0; padding:0;
		list-style:none;
	}

	.dNavigationColumn a,
	.dNavigationColumn a:visited, 
	.dNavigationColumn a:hover {
		font-weight:normal;
		color:#666;
	}

	.ulNavigationColumn li.liThemeLev2 {						
		margin:0; padding:0;		
		border-bottom:1px solid #D2D1D6;		
	}			
	
	.ulNavigationColumn li.liThemeLev2 .aThemeLev2 {
		padding:2px 5px 2px 15px;		
		display:block;		
	}

	.ulNavigationColumn li.liThemeLev3 {						
		margin:0; padding:2px 5px 2px 25px;		
		border-top:1px solid #D2D1D6;
		background-color:#EFEFEF;
		font-size:11px;
	}

	/*.ulNavigationColumn {	
		margin:0; padding:0;
		list-style:none;	
	}

		
		
		.ulNavigationColumn .liThemeLev1 {
			margin:0; padding:0;			
		}			

		.ulNavigationColumn .ulMenu {
			margin:0; padding:0;	
			list-style:none;		
		}
		
		.ulNavigationColumn .ulMenu .liThemeLev2 {		
			margin:0; padding:0;
		}
		
			
				.ulNavigationColumn .ulMenu .ulSubMenu {						
					margin:0; padding:0;							
					
					list-style:none;		
				}
				
				.ulNavigationColumn .ulMenu .ulSubMenu .liThemeLev3 {						
					margin:0; padding:0;
					border-style:solid; 
					border-color:#D2D1D6 #D2D1D6 #D2D1D6 #D2D1D6;
					border-width:1px 0px;
				}			
*/