﻿.dNavigationBar {
	/*background-color:#0054B4;	
	height:47px !important; height:43px;*/
	
}

	.dNavigationBar a {
		text-decoration:none;
	}

	.ulNavigationBar {	
		display:block;
		
		margin:0; padding:0;
		
		list-style:none;	
		/*background-color:#FFCC33;*/
		/*height:10px;*/
		
	}
	
	

		.ulNavigationBar .liThemeLev1 {
			float:left;
			list-style-type:none;
			border-right:1px solid #b4c2d2;			
			margin:0;		
		}
										   
			/*.ulNavigationBar .liThemeLev1 a {						*/
			.ulNavigationBar .liThemeLev1 a.aThemeLev1Unsel,
			.ulNavigationBar .liThemeLev1 a.aThemeLev1Sel,
			.ulNavigationBar .liThemeLev1 a.aThemeLev1Current {
				display:block;
				padding:0px 15px 0px 15px;		
				
				/*background-color:#FFCC33;		*/
				
				color:#FFF;									
				
				font:bold 12px Chicago, Arial;	
				cursor:default;
			}
			
			.ulNavigationBar .liThemeLev1 a.aThemeLev1Sel,
			.ulNavigationBar .liThemeLev1 a.aThemeLev1Current 
			{
				
				/*padding:4px 15px 25px 15px;		*/
				
				/*background-color:#FF9933;			*/
			}		
			

		.ulNavigationBar .ulMenu {		
			position:absolute;	
			z-index:20;
			
			margin:3px 0 0 0px; padding:0;	
			
			color:Black;
			background-color:#e9eef4;
			border:solid #000; border-width:1px 1px 0 1px;
			/*filter:alpha(opacity=80); -moz-opacity:0.5; opacity:0.5;*/
			list-style:none;				
		}
		
	  
	   .ulMenu .liThemeLev2  a:hover
		{
			 color:#000000;
			  text-indent:10px
			/* background-color:#336699;*/
			}
			
			.ulMenu a
		{
			 color:#336699;
			}
		
		
	
		
		.ulNavigationBar .ulMenu .liThemeLev2 {
			margin:0; padding:0;
			
			border-bottom:1px solid #000;		
				font:11px Tahoma;		
				cursor:pointer;
			
		}
		
			.ulNavigationBar .ulMenu .liThemeLev2 a ,
			.ulNavigationBar .ulMenu .liThemeLev2 ,
			.ulNavigationBar .ulMenu .liThemeLev2  {
				display:block;
				/*margin:0; padding:0px 0px 0px 0px;	*/
				 padding: 2px 4px 4px 4px;
				/*color:#000;	*/
				font-weight:normal;
				width:180px; 			
				
				height:auto !important;
				height:1.4em; line-height:1.4em; /* Per IE */			
				
			}
			
			
		
			
		
			
			
	
			
			
			.ulNavigationBar .ulMenu .liThemeLev3 a:hover {
				/*background-color: #336699;*/
				
				/*filter:alpha(opacity=100); -moz-opacity:1; opacity:1;			*/
			}
			
				.ulNavigationBar .ulMenu .ulSubMenu {						

				
					margin:0; padding:0;							
					
					list-style:none;		
				}
				
				.ulNavigationBar .ulMenu .ulSubMenu .liThemeLev3 {						
					margin:0; padding:0; 
								
				/*	background-color:#FFAA44;*/
					border-style:solid; 
					border-color:#878787 #7A7A7A #7A7A7A #7A7A7A;
					border-width:1px 0px 0 0px;			
				}			

				.ulNavigationBar .ulMenu .ulSubMenu .liThemeLev3 a,
				.ulNavigationBar .ulMenu .ulSubMenu .liThemeLev3 a:hover,
				.ulNavigationBar .ulMenu .ulSubMenu .liThemeLev3 a:visited {				
					padding-left:24px; margin:0;
					background-image:url(/hp3Office/_slice/button/btn_BG.gif);
					background-position:12px 8px;
					background-repeat:no-repeat;
					width:170px; 				
				}			

