﻿.dRelatedBox {
	clear:both;
	width:197px; 		
	float:right;	
	/*position:relative; top:-41px; right:-20px;	
	margin-left:-10px;*/

	position:relative; top:0; right:-20px;	
	margin-left:-10px;

	font-size:11px;	
	
	/* Serve sia il float:right che il position:relative. Il primo per gestire
	sial il caso di box presente che non, il secondo per gestire la sovrapposizione
	del box con l'header */
}

	.dRelatedBox a {
		text-decoration:none;
	}

	.dRelatedBox ul {	
		margin:0 0 0 0; padding:0 0 10px 15px;
		list-style-type:square;
		border-bottom:1px solid #D2D2D2;
	}
	
	.dRelatedBox li {	
		margin:0 0 3px 10px; 
	}

	/*.dRelatedBox .header {		
		height:27px; padding:71px 0 0 80px;
		background:url(../../_slice/snippet/related_box_header.gif) 0 0px no-repeat;
		
		font:bold 16px Arial; /* era Chicago * /
		color:#444;				
	}*/
	
	.dRelatedBox .header {		
		height:28px; 
		background:url(../../_slice/title/related_links.gif) 0 0px no-repeat;
	}

	.dRelatedBox .title {		
		font-weight:bold;		
		margin:13px 0 2px 10px;
		color:#FF6B00;
	}

	.dRelatedBox .body {
		/*padding:5px 15px 10px 15px;		 	*/
		/*background:url(../../_slice/background/related_box.gif) 0 0 repeat-y;*/
	}

		.dRelatedBox a,
		.dRelatedBox a:hover, 
		.dRelatedBox a:visited {
			font-weight:normal;
			color:#676769;
		}
		
		.dRelatedBox a.strong,
		.dRelatedBox a.strong:hover, 
		.dRelatedBox a.strong:visited {
			font-weight:bold;
		}

		.dRelatedBox a:hover {
			text-decoration:underline;
		}

	.dRelatedBox .footer {		
		/*background:url(../../_slice/snippet/related_box_footer.gif) 0 0 no-repeat;*/
		background-color:#FF6600;
		height:8px; 		
		font-size:1px;
	}
	
	

.tblRelateds {
	clear:both;
	margin-top:20px;	
	font-weight:bold;
	width:550px;
	border-bottom:6px solid #BBB;		
	border-top:6px solid #BBB;
}

	.tblRelateds a {
		text-decoration:none;
	}

	.tblRelateds td {	
		border-bottom:1px solid white; /*#FEB280;			 */
	}

	.tblRelateds .title {
		/*background-color:#FFCAA6;	*/
		background-color:#E8E8E8;	
		font-size:12px;
		font-weight:bold;		
		padding:3px 10px;
	}


	.tblRelateds td.col1 {			
		padding:3px 15px 3px 35px;
		/*width:1%;*/
		white-space:nowrap;
		font-size:11px;		
		/*background:#FCD8BF url(../../_slices/dot_squared_dark_gray.gif) 12px 8px no-repeat;		*/
		background:#EFEFEF url(../../_slices/dot_squared_dark_gray.gif) 12px 8px no-repeat;		
	}
	
	.tblRelateds td.col1 a, 	
	.tblRelateds td.col1 a:visited,
	.tblRelateds td.col1 a:hover {	
		color:#676769;
	}

	.tblRelateds .col2 {
		background-color:#EFEFEF;		
		/*width:99%;*/
	}	
	
	
.tblRelatedDownloads {
	margin:10px 0 15px 0;
	width:100%;
}

	.tblRelatedDownloads td {
		border-top:1px solid #CCC;		
	}

	.tblRelatedDownloads td.title {
		font-size:14px;
		font-weight:bold;
		border-bottom:1px solid #BBB;
		border-top:none;		
	}

	.tblRelatedDownloads td.label {
	}
	
	.tblRelatedDownloads td.icons {		
		text-align:right;
	}

/*
.tblRelateds {
	clear:both;
	margin-top:20px;	
	font-weight:bold;
	width:550px;
	border-bottom:12px solid #FF6600;		
}

	.tblRelateds a {
		text-decoration:none;
	}

	.tblRelateds td {	
		border-bottom:1px solid #FEB280;			
	}

	.tblRelateds .title {
		background-color:#FFCAA6;	
		font-size:14px;
		padding:3px 10px;
	}


	.tblRelateds td.col1 {			
		padding:3px 5px 3px 25px;
		width:1%;
		white-space:nowrap;
		font-size:11px;		
		background:#FCD8BF url(../../_slices/dot_squared_dark_gray.gif) 12px 8px no-repeat;		
	}
	
	.tblRelateds td.col1 a, 	
	.tblRelateds td.col1 a:visited,
	.tblRelateds td.col1 a:hover {	
		color:#676769;
	}

	.tblRelateds .col2 {
		background-color:#FFCAA6;		
		width:99%;
	}
*/