@import "Part/NavigationBar.css";

Body{
	 margin:0;
	  font-family:Arial;
	  font-size:small;
	  font-style:normal;
	}
	
table {
	border-collapse: collapse;
	border-spacing: 0;	
}

img {
	border: 0;
}

fieldset {
	border: 0;
	padding: 5px;
	
}

p {
	margin:0; padding:0;
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
}


hr {
		height:1px; 
        border:0px; 
        border-top:1px solid #e9eef4; margin-top:1px ; margin-bottom:1px;
        }
	
		.topHp3Logo
		{
		background:white url(../../HP3ImageLibrary/icon/logo_ehp.gif) 0 0 no-repeat;	
		height:61px;
		width:98%;
		margin-top:10px;
		float:left;
		}
		
		.Hp3Logo
		{
		background:white url(../../HP3ImageLibrary/icon/logo_ehp.gif) 0 0 no-repeat;	
		height:60px;
		width:60%;
		margin-top:0px;
		float:left;
		}
		
		.topHealthwareLogo
		{
		background:white url(/HP3Office/_slice/logo/healthware_small.gif) 0 0 no-repeat;	
		height:40px;
		width:160px;
		margin-top:16px;
		float:right;
		 }
			
		.dHeader 
		{
			background:white url(/hp3Office/_slice/background/top_fade.gif) 0 0 repeat-x;	
			min-height:60px;
		}
		
		.innerMenu
		{
			/*width:750px;*/
			height:32px;
			background:white url(/hp3Office/_slice/background/menu_fade.gif) 0 0 repeat-x;	
			padding-top:7px;
			padding-left:220px;
			color:White;
			font-weight:bold;
			
			}
		
		
		.dNavBar 
		{
			clear:both;
			position:relative;
			height:34px;
			padding:0 10px;
			background:white url(/hp3Office/_slice/background/top_menu.gif) 0 0 repeat-x;	
		}
			.dNavBar .left {
				position:absolute;
				left:0; top:0;
				width:9px; height:34px;
				background:white url(/hp3Office/_slice/background/top_menu_closer_lx.gif) 0 0 no-repeat;	
			}		
			.dNavBar .right {		
				position:absolute;
				right:-1px; top:0;
				width:9px; height:34px;
				background:white url(/hp3Office/_slice/background/top_menu_closer_Rx.gif) 0 0 no-repeat;	
			}		
		
		.dSupMenu
		{
			width:15px;
			background:white url(/hp3Office/_slice/background/menu_fade.gif) 0 0 repeat-x;	
			
			}	
		.dMain 
		{
			width:100%;
			background: white;
			/*background:white url(/hp3Office/_slice/background/menu_fade.gif) 0 0 repeat-x;*/	
			clear:both;
			  
		}
		
			.dColumn 
			{
				float:left;
				width:22%;
				overflow: auto;
				/* background-color:#3a5b83;*/
				top:0px;
				/*background: url(/hp3Office/_slice/background/menu_fade.gif) 0 0 repeat-x;*/					*/
			}
			
		
		.pad10
		{
			padding-left:10px;
			}	
			
			.pad_top
			{
			 /* background-color:Green;*/
			  padding-top:40px;
				}
			
		.dContent 
		{
			float:right;
		    /*width:77.5%;*/
		    width:77.9%;
		    border-left:1px dashed #336699;
			background-color:white;
			height:auto !important; height:350px; min-height:350px;
			}

		.dFooter 
		{
			clear:both;
			position:relative;
			height:45px;
			padding:0 10px;			
			background:white url(/hp3Office/_slice/background/_bottom.gif) 0 0 repeat-x;	
			text-align:center;
			padding-top:45px;
			font-size:12px;
		}
			.dFooter .left {
				position:absolute;
				left:0; top:0;
				width:12px; height:45px;
				background:WHITE url(/hp3Office/_slice/background/footer_closer_lx.gif) 0 0 no-repeat;	
			}		
			.dFooter .right {		
				position:absolute;
				right:-1px; top:0;
				width:12px; height:45px;
				background:white url(/hp3Office/_slice/background/footer_closer_rx.gif) 0 0 no-repeat;	
			}
			
    select
    {
		background-color:#FFF;
		border: 1px solid #000;
		font-size:11px;	
		width:200px
	}
	
	.textbox {
		border: 1px solid #000;
		font-size:11px;
		height:10px;	
	}
	
	.textarea {
		border: 1px solid #000;
		font-size:11px;	
		font-family:Arial, Verdana;
	}

/***FX***/				
.overlay 

{

      position: absolute;

      left: 0px;

      top: 0px;

     filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;

      /*cursor: wait;*/

      background-color: transparent;

}

.AbsOverlay {

      position: absolute;

      left: 0px;

      top: 0px;

      /*filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;*/

      /*cursor: wait;*/

      background:#EFEFDE;
       /* background-color:Window;*/
/*background:#000000;*/
}

/***FX***/	
.btn_Logout
{
	float:left;
	height:32px;

}

.dNavBar_item
{
	height:32px;	
	background: url(/hp3Office/_slice/button/btn_BG.gif) 0 0 repeat-x;
	}
	
/***********Generic*******************/
.title
{
	color:#336699;
	height:0Px;
	line-height:16Px;
	font-weight:bold;
	font-size:small;
	}

	input.button, input.bigButton {
		background-color:#EEEEEE;
		font-weight:bold;
		border:1px solid; border-color:#EFEFEF #BBB #BBB #EFEFEF;
		height:auto;
	}

	input.button { 	 }
	input.bigButton { padding:5px 15px; }
	

/*************************************/	
	
/***********Login BOX*****************/

.user_label
{
	/*position:static;*/
	float:left;
	
	font-size:small;
	font-weight:bold;
	color:#336699;
	/*padding-right:10Px;*/
	padding-top:15Px;
	}
	

.dCenter {
	position:static;
}	

.dAccessBox {
	text-align:left;
	position:relative;
	/*left:50%; top:100%;*/
	background: url(/hp3Office/_slice/background/login_BG.gif) 0 0 no-repeat;
	width:304;	height:150px;
	margin:5% 5% 5% 18%;
	padding-left:15Px;
	padding-top:10Px;
}

	.litErroressage {
		color:red;
		font-weight:bold;
		padding-left:20px;
		padding-bottom:5px;
		background: url(/hp3Office/HP3Image/Ico/error.gif) 0 0 no-repeat; 
		/*position:absolute;
		top:180px; left:205px;*/
	}	
	
	.dBoxLogin {
		position: absolute;
		top:102px; left: 205px;
	}
	
	.tbUsername, .tbPassword {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		padding:1px 2px;
		border-width:1px;
		border:1px solid black;			
	}
	
	.input {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		padding:1px 2px;
		border-width:1px;
		border:1px solid black;			
	}
	
	.tbUsername {
		width: 169px;
		margin-bottom: 2px;
	}
	
	.tbPassword {
		width: 169px;
		margin-bottom: 2px;
	}

	
    .tbUsernameLogin, .tbPasswordLogin {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		padding:1px 2px;
		border-width:1px;
		border:1px solid #577599;			
	}
	
	.tbUsernameLogin {
		width: 169px;
		margin-bottom: 2px;
	}
	
	.tbPasswordLogin {
		width: 169px;
		margin-bottom: 2px;
	}
	.LoginError
	{
	clear:both;float:left;padding-left:20px;font-weight:bold;font-style:italic;color:#ff0000;
	}

/*************************************/
/***********Left Menu*****************/
/***********Not Active*****************/
A.lXMenuNoActive,A.lXMenuNoActive:visited
{
		font-size:small;
	    color:Red;
	    font-weight:normal;
	    text-decoration:line-through !important;
	    background-color:Yellow;
	}

A.lXMenuNoActive:hover 
 {
	    font-size:small;
	    /*color:#336699;*/
	    color:Red;
	    font-weight:normal;
	    text-decoration:line-through !important;
	    background-color:Yellow;
	    
	}

 .lXMenuNoActive
{
		font-size:small;
	    color:Red;
	    font-weight:bold;
	    text-decoration: line-through !important;
	    list-style-type: square;
	    background-color: Yellow ;
	    /*padding-left:-18px;*/
	     
	}
/****************************/
/***********Disable*****************/
A.lXMenuDisable,A.lXMenuDisable:visited
{
		font-size:small;
	    color:Red !important;
	    font-weight:normal;
	    text-decoration:none;
	    background-color:#FFF;
	}

A.lXMenuDisable:hover 
 {
	    font-size:small;
	    /*color:#336699;*/
	   color:Red !important;
	    font-weight:normal;
	   /*text-decoration:underline;*/
	    background-color:#FFF;
	    
	}

 .lXMenuDisable
{
		font-size:small;
	    color:Red !important;
	    font-weight:bold;
	    text-decoration:none;
	    list-style-type: square;
	    /*padding-left:-18px;*/
	    background-color:#FFF;
	     
	}
/****************************/
A.lXMenu,A.lXMenu:visited
{
		font-size:small;
	    color:#336699;
	    font-weight:normal;
	    text-decoration:none;
	}

A.lXMenu:hover 
 {
	    font-size:small;
	    /*color:#336699;*/
	    color:White;
	    font-weight:normal;
	   /*text-decoration:underline;*/
	    background-color:#336699;
	    
	}

 .lXMenu
{
		font-size:small;
	    color:#336699;
	    font-weight:bold;
	    text-decoration:none;
	    list-style-type: square;
	    /*padding-left:-18px;*/
	     
	}
	
.dColumn ul 
{
		padding-left:0;
		margin-left:10px;
		padding:0;
		list-style-type:square;
	}
				
.dColumn ul li
{
		padding-left:0;
		margin-left:10px;
				
	}
				
.liCatTree
{
	 color:#336699;
		
	
	}
	
.popCatTree
{
	 list-style-type:none;	
	 font-weight:normal;
	 color:#336699;
	
	}		
		
.aCatTree
{
	 font-weight:normal;
	 text-decoration:none;
	 color:#336699;

	
	}		
	
	/*********************/
	
		
.topLastViewed {
		background:white url(/hp3Office/_slice/background/last_content.gif) 0 0 repeat-x;
		width:100%; 
		/*float:right;*/
		 }
		 
.topContentSearcher {
		background:white url(/hp3Office/_slice/background/content_searcher.gif) 0 0 repeat-x;
		width:100%;
		height:30px;
		vertical-align:middle;
		/*float:right;*/
		 }
			
.boxSearcher {
		background-color:#F3F3F3;
			}

/*************************************/


.Box
{
	border:1px solid #e9eef4;
	  
	}
/****************************TBL*************/

.tbl1 {
	width:100%;
	/*border-collapse:collapse;*/
}

th {
	padding:3px 3px;
	/*border:1px solid #CACACA;*/
	background: url(/hp3Office/_slice/background/orange_top.gif) 0 0 repeat-x;
	background-color:#f6ad39;
	color:White;
}

td   {
	padding:2px 2px;
	border:1px solid #CACACA;
	text-align:left;
	
}

.tbl1 th a, .tbl1 th a:visted, .tbl1 th a:hover, .header a {
	/*color:White;*/
	text-decoration:underline;
}

.tbl1 {
	border-bottom:0px solid #CACACA;
}

.tbl1 thead, .tbl1 .header {
	padding:4px;
	background-color:#C2C2C2;
	}

.trEnabled {}
.trDisabled td { color:#999; }
	

.tdOperationIconsHeader, .tdFlagIconsHeader {
	text-align:center;		
	width:1%;	
}

.tdOperationIcons, .tdFlagIcons {
	text-align:left;	
	white-space:nowrap;
	width:1%;	
}

.tdOperationIcons img, .tdOperationIcons input, .tdFlagIcons img {
	margin:0 5px;	
	vertical-align:middle;
}

.header td { color:White; font-weight:bold ;  }

.header .header a,
.header td a,
.header a,
.header .header a:visited,
.header td a:visited,
.header a:visited
{ text-decoration:underline; color:white; text-align:left; }

.header
{
	background: url(/hp3Office/_slice/background/orange_top.gif) 0 0 repeat-x; 
	  height:20Px;
	    
	}
.header a:hover {
	color:Black;
}


.tbDetailedEvents .trInnerHeader td {
	background-color:#DDD;
	color:#666;
	font-weight:bold;
}


.tbDetailedEvents td {
	background-color:#EEE;
}


.searchBox 
{

	}
	
.Search td
{
	background-color:#FFF;
	border:1px solid #FFF;
	}
	
.tbl2 td
{
	background-color:#FFF
	}
	
	
	.form td
	{
		border:none;
		border-color:White;
		font-weight:bold;
		}
	.form textbox
	{
		border: 1px solid #000;
		font-size:11px;
		height:10px;	
		}	
		
			.Pager2 td 
		{
			 border:none;
		 
			 font-weight:bold;
			 color:#000;
			/*background: url(/hp3Office/_slice/background/_bottom.gif) 0 0 repeat-x; */
			 background-color:#e9eef4;
			 text-align:right;
			  color:Red;
			}
			
			.Pager2 a ,
			.Pager2 a:visited
			{
				 color:Black;
				}
				
				.Pager a:hover
				{
					color:Red;
					}
		
		.Pager td 
		{
			 border:none;
			 float:left;
			 font-weight:bold;
			 color:#000;
			/*background: url(/hp3Office/_slice/background/_bottom.gif) 0 0 repeat-x; */
			 background-color:#e9eef4;
			 text-align:right;
			  color:Red;
			}
			
			
			
			.Pager a ,
			.Pager a:visited
			{
				 color:Black;
				}
				
				.Pager a:hover
				{
					color:Red;
					}
					
					.gridFooter td
					{
						 border:none;
						 text-align:center;
			        	}
			        	
			        	.tabMenuSpacer
			        	{
			        		 float:left;
			        		 padding-left:100px;
			        		 margin-left:0;
			        		 height:1px;
			        		
			        		}
			        		
			        	.tabMenu
			        	{
			        		/* position:relative;*/
			        		 float:left;
			        		  margin-top:3px;
			        		 width:128px;
			        		 cursor:pointer;
			        		}
			        		
			        	
			        	.formIMG tr td
			        	{
			        	border-width:0;
			        	border-style:none;
			        		}
	.divFormLabel {
		float:left;
		width:170px;
		font-weight:bold;
		padding:0;
		margin:0;
		border:0;
		font-size:12px;
		background-color:#FFFFFF
	}
		
	.divFormObject 
	{
		padding:0;
		margin:0;
		border:0;
		background-color:#E9EEF4
	}
	
	.divFormClearer {
		clear:both;
		margin:0;
		padding:0;
		margin-bottom:5px;	
	}	
	
	.divNewFormClearer 
	{
		clear:both;
		margin-bottom:5px;	
	}	 
	
	
	/* HELP*/
	
	.Help
	{
		color:#666666; 
		margin-left:10px;
		/*color:#666666;
		margin-left:30px;*/
	} 
		
	.Help h1 
	{
		color:#FFCC33;
		font-family:Arial, Helvetica, sans-serif; font-size:24px;  
		font-weight:bold; 
		font-weight:100; 
		margin-bottom:15px; 
		margin-top:2Px;
	
	}
	
	.LHelp
	{
		color:#666666;
		margin-left:30px;
	}
	
	.disable
	{
	position:absolute; 
	z-index:1000; 
	background-color:#000; 
	filter:alpha(opacity=9); 
	-moz-opacity: 0.6; 
	opacity: 0.6; 	
	}
	
	.menuBar
	{
		padding:1 1 1 1 false;
		height:24px;
		
	}
	
	.wfClass th
	{
		background:none;
		background-color:White;
		
	}
	
	.dAccessBox1
	{
		text-align:left;
		position:relative;
		/*left:50%; top:100%;*/
		background: url(/hp3Office/_slice/background/login_BG.gif) 0 0 no-repeat;
		width:304;	height:150px;
		margin:15% 5% 5% 35%;
		padding-left:15Px;
		padding-top:10Px;
}
