@charset "utf-8";
/* CSS Document */

body{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#6e6c69;
}

.leftCol{
	clear:both;
	float:left;
	width:220px;
}

.containerRight{
	padding-left:240px;
}

.rightCol{
	float:left;
	width:100%;
	position:relative;
}

.personalDate{
	clear:both;
	float:left;
	background-image:url(../_slice/orangeLeft.gif);
	background-position:left top;
	background-repeat:no-repeat;
	width:190px;
	height:51px;
	padding:10px 0 0 30px;
	margin:0 0 15px 0;
	color:#FFF;
}

.personalDate p{
	margin:0 0 8px 0;
}

.personalDate select{
	width:135px;
	margin-left:10px;
}

.header{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

.page{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

h1{
	clear:both;
	float:left;
	width:167px;
	height:58px;
	margin:10px 0;
	padding:0;
}

h1 a{
	clear:both;
	float:left;
	width:167px;
	height:58px;
	margin:0;
	padding:0;
	overflow:hidden;
	text-indent:-9999em;
	background-image:url(../_slice/logo.gif);
	background-position:left top;
	background-repeat:no-repeat;
}

.boxLeft{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

.boxLeftTop{
	clear:both;
	float:left;
	background-image:url(../_slice/topLeft.gif);
	background-position:left bottom;
	background-repeat:no-repeat;
	width:195px;
	height:17px;
	padding:0 0 0 15px;
	margin:0;
}

.boxLeftBody{
	clear:both;
	float:left;
	background-image:url(../_slice/bodyLeft.gif);
	background-position:left top;
	background-repeat:repeat-y;
	width:150px;
	padding:10px 30px;
	margin:0;
	font-size:10px;
}

.boxLeftBottom{
	clear:both;
	float:left;
	background-image:url(../_slice/bottomLeft.gif);
	background-position:left bottom;
	background-repeat:no-repeat;
	width:210px;
	height:4px;
	padding:0;
	margin:0 0 5px 0;
}

h3{
	margin:0;
	font-weight:normal;
	padding:0;
}

.boxLeftBody ul{
	clear:both;
	float:left;
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
}

.boxLeftBody ul li{
	clear:both;
	float:left;
	width:100%;
	list-style:none;
	margin:0;
	padding:3px 0;
}

a{
	color:#1464d1;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

img{
	border:0;
}

.boxLeftBody img{
	margin-right:5px;
	vertical-align:bottom;
}

.boxMenu{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

.boxMenu ul.menu{
	clear:both;
	float:left;
	width:auto;
	margin:0;
	padding:0;
	list-style:none;
}

.boxMenu ul.menu li{
	float:left;
	width:auto;
	padding:0;
	margin:0 2px;
	list-style:none;
	background-color:#e2e3e2;
}

.boxMenu ul.menu li.selected{
	background-image:url(../_slice/menuSelected.gif);
	background-position:left top;
	background-repeat:repeat-x;
	border:1px solid #e6b946;
}

.boxMenu ul.menu li a{
	color:#333;
	font-size:13px;
	padding:3px 25px;
	float:left;
	width:auto;
	text-transform:uppercase;
}

.boxMenu ul.menu li a:hover{
	text-decoration:none;
}

.boxMenu ul.tools li a:hover{
	text-decoration:underline;
}

.boxMenu ul.tools li.selected a{
	text-decoration:underline;
}

.boxMenu ul.tools{
	clear:none;
	float:right;
	width:auto;
	margin:0;
	padding:0;
	list-style:none;
}

.boxMenu ul.tools li{
	float:left;
	width:auto;
	padding:0 15px 0 10px;
	margin:0 2px;
	list-style:none;
	background-color:#fff;
	background-image:url(../_slice/arrow.gif);
	background-position:right 3px;
	background-repeat:no-repeat;
}

.subMenu{
	clear:both;
	float:left;
	width:100%;
	margin:2px 0;
	padding:0;
	background-image:url(../_slice/menuSelected.gif);
	background-position:left top;
	background-repeat:repeat-x;
	border:1px solid #e6b946;
}

.subMenu ul{
	clear:both;
	float:left;
	width:auto;
	margin:0;
	padding:0 10px;
	list-style:none;
}

.subMenu ul li{
	float:left;
	width:auto;
	margin:3px 0;
	padding:0;
	position:relative;
}

.subMenu ul li a{
	float:left;
	width:auto;
	margin:0;
	padding:0 3px;
	color:#333;
}

.subMenu ul li.selected a{
	text-decoration:underline;
}

.subMenu ul li a:hover{
	text-decoration:underline;
}

.breadcrumbs{
	clear:both;
	float:left;
	width:100%;
	margin:10px 0;
	padding:0;
}

.breadcrumbs ul{
	clear:both;
	float:left;
	width:auto;
	margin:0;
	padding:0 10px;
	list-style:none;
}

.breadcrumbs ul li{
	float:left;
	width:auto;
	margin:3px 0;
	padding:0;
}

.breadcrumbs ul li a{
	float:left;
	width:auto;
	margin:0;
	padding:0 3px;
}

.titlePage{
	clear:both;
	float:left;
	width:100%;
	background-color:#f7f7f7;
	border:1px solid #e2e2e2;
	margin:0;
	padding:5px 0;
	font-size:14px;
	font-weight:normal;
}

h2{
	margin:0;
	padding:0 10px;
	font-size:14px;
	font-weight:normal;
}

.topTable{
	clear:both;
	float:left;
	width:100%;
	background-color:#fed568;
	margin:0;
	padding:3px 0;
	font-size:11px;
}

.rowWhite{
	clear:both;
	float:left;
	width:100%;
	background-color:#fff;
	margin:0;
	padding:3px 0;
	font-size:11px;
}

.rowGrey{
	clear:both;
	float:left;
	width:100%;
	background-color:#f7f7f7;
	margin:0;
	padding:3px 0;
	font-size:11px;
}

.width10{
	width:8%;
	float:left;
	margin:0;
	padding:0 1%;
}

.width20{
	width:18%;
	float:left;
	margin:0;
	padding:0 1%;
}

.width30{
	width:28%;
	float:left;
	margin:0;
	padding:0 1%;
}

.width40{
	width:38%;
	float:left;
	margin:0;
	padding:0 1%;
}

.width50{
	width:48%;
	float:left;
	margin:0;
	padding:0 1%;
}

.width60{
	width:58%;
	float:left;
	margin:0;
	padding:0 1%;
}

.width70{
	width:68%;
	float:left;
	margin:0;
	padding:0 1%;
}

.width80{
	width:78%;
	float:left;
	margin:0;
	padding:0 1%;
}

.width90{
	width:88%;
	float:left;
	margin:0;
	padding:0 1%;
}

.width100{
	width:98%;
	float:left;
	margin:0;
	padding:0 1%;
}

.footer{
	clear:both;
	float:left;
	width:100%;
	height:78px;
	margin:10px 0 0 0;
	padding:10px 0;
	background-image:url(../_slice/footer.gif);
	background-position:left top;
	background-repeat:repeat-x;
	text-align:center;
}

.menuHover{
	float:left;
	left:0;
	list-style:none outside none;
	margin:0;
	padding:0;
	position:absolute;
	top:20px;
	width:144px;
	border:1px solid #F9D885;
	background:#FFF4D3;
}

.menuHover ul li{

	float:left;
	line-height:13px;
	list-style:none outside none;
	margin:0;
	padding:6px 14px;
	width:116px;
}

.menuHover li a{
	color:#6E6C69;
	text-decoration:none;
}

.menuHover li a:hover{
	color:#6E6C69;
	text-decoration:underline;
}

.headerForm{
	clear:both;
	float:left;
	width:100%;
	background-image:url("../_slice/headerForm.gif");
	background-position:left top;
	background-repeat:repeat-x;
	height:58px;
}

.centerForm{
	margin:0 auto;
	width:385px;
}
.bgForm{
	clear:both;
	float:left;
	width:383px;
	margin:55px 0 109px 0;
	height:149px;
	border:1px solid #cccccc;
	background-color:#f7f7f7;
	text-align:center;
	color:#82817e;
}
.user{
	clear:both;
	float:left;
	text-align:center;
	width:100%;
	margin:34px 0 8px 0;
}
.user input{
	width:118px;
}
.pass{
	clear:both;
	float:left;
	text-align:center;
	width:100%;
	margin:0 0 13px 0;
}
.pass .passInput{
	width:118px;
}
.passLabel{
	clear:both;
	float:left;
	width:240px;
	padding-left:71px;
}
.passBtn{
	float:left;
	width:54px;
}
.pass label{
	padding:0 0 0 3px;
}
.recovery{
	clear:both;
	float:left;
	padding:0 0 0 100px;
	width:270px;
	font-size:10px;
}
.recovery ul{
	margin:0;
	padding:0;
	list-style:none;
	font-weight:bold;
}
.recovery ul li{
	float:left;
	padding:0 0 0 3px;
}
.personalyze{
	clear:both;
	float:left;
	width:100%;
	text-align:right;
}
.personalyze p{
	color:#1464d1;
	font-weight:bold;
	margin:5px 0 5px 0;
}
h2.visit{
	font-size:12px;
}

.pageSearch{
	border:1px solid #E2E2E2;
	background-image:url("../_slice/bgSearch.gif");
	background-position:left top;
	background-repeat:repeat-x;
	clear:both;
	float:left;
	font-size:14px;
	font-weight:normal;
    margin: 15px 0 15px 10px;
    padding:5px 0 5px 0;
    width: 98%;
}
.segment1{
	clear:both;
	float:left;
	padding:0 10px 0 12px;
	width:auto;
}
.segment2{
	float:left;
	padding:0 10px 0 12px;
	width:auto;
	margin:0 0 0 30px;
}
.segment3{
	float:left;
	padding:0 10px 0 12px;
	width:auto;
	margin:0 0 0 30px;
}

.segment1 select, 
.segment2 select,
.segment3 select{
	float:left;
	width:auto;
	margin:0 0 0 10px;
}
.segment1 label, 
.segment2 label,
.segment3 label{
	clear:both;
	float:left;
	width:auto;
}
.rangeTo {
    float: left;
    padding: 0 10px 0 12px;
    width: 228px;
}

.rangeFrom{
	float:left;
	padding:0 10px 0 12px;
	width:232px;
}

.rangeFrom label, .rangeTo label
{
	clear:both;
	float:left;
	width:auto;
	margin:0 8px 0 0;
}
.searchSite label{
	font-size:12px;
	color:#82817e;
	font-weight:bold;
}

.searchSite select{
	width:69%;
	margin-top:2px;
}
.range{
	float:left;
	width:140px;
}
.btnDay{
	float:right;
	padding:2px 0 0;
	width:265px;
}
.btnEnter{
	float:right;
	padding:2px 0 0;
	width:265px;
}
.btnEnter .remove{
	float:right;
	width:85px;
}
.btnEnter .enter{
	float:right;
	width:52px;
}
.btnDay .day{
	float:right;
	width:56px;
}
.btnDay .week{
	float:right;
	width:69px;
}
.btnDay .month{
	float:right;
	width:69px;
}
.range label{
	font-size:12px;
	color:#82817e;
	font-weight:bold;
}
.range input{
	height:14px;
	margin:2px 0 0 0;
	width:61%;
}
.rangeBtn{
	float:left;
	height:20px;
	margin:2px 0 0;
	width:90px;
}
.titlePage1{
	clear:both;
	float:left;
	width:100%;
	border:1px solid #e2e2e2;
	margin:5px 0 0 0;
	font-size:14px;
	font-weight:normal;
}
.titlePageForm{
	clear:both;
	float:left;
	width:100%;
	border:1px solid #e2e2e2;
	font-size:14px;
	font-weight:normal;
}
.titlePage2{
	background-color:#F7F7F7;
	border:1px solid #E2E2E2;
	clear:both;
	float:left;
	font-size:14px;
	font-weight:normal;
	margin:3px;
	width:99%;
}
.titlePage3{
	clear:both;
	float:left;
	width:100%;

}
.titlePage4{
	clear:both;
	float:left;
	width:100%;
	padding:0 0 0 10px;

}
.pageL{
	clear:both;
	float:left;
	width:50%;
	padding:0 0 0 10px;
}
.titlePageL{
	clear:both;
	float:left;
	width:100%;
}
.pageR{
	float:left;
	width:47%;
}
.titlePageR{
	float:left;
	width:100%;
}
.visitLink{
	clear:both;
	float:left;
	width:97%;
	height:13px;
	padding:0 0 5px 12px;
	margin:0 0 0 3px;
	background-image:url("../_slice/angle.gif");
	background-position:left center;
	background-repeat:no-repeat;
	border-bottom:1px dotted #cccccc;
}
.visitLink p{
	margin:0;
	font-size:12px;
}
.right{
	clear:both;
	float:left;
	width:50%;

}
.right1{
	clear:both;
	float:left;
	width:100%;
	margin:5px 0 0 0;
	font-size:12px;
	font-weight:bold;
}
.imgRight{
	clear:both;
	float:left;
	width:50%;
}
p.italic{
	font-style:italic;
	margin:13px 0 0 0;
}
.left{
	float:left;
	width:47%;
}
.noMargin{
	margin:0;
}
.imgStyle{
	float: left;
	margin: 0pt 10px 5px 10px;
}
.subMenu p{
	margin:0;
	color:#333333;
	padding:0 0 0 12px;
}
.listForm{
	clear:both;
	float:left;
	width:100%;
	margin:10px 0 10px 0;
}
.listForm ul{
	clear:both;
	float:left;
	list-style:none;
	margin:0;
	padding:0 10px;
	width:auto;
}
.listForm ul li{
	float:left;
	margin:3px 0;
	padding:0;
	position:relative;
	width:auto;
}
.listForm ul li a{
	color:#1464d1;
	float:left;
	margin:0;
	padding:0 3px;
	width:auto;
}
.listForm ul li a.selected{
	color:#333333;
	float:left;
	margin:0;
	padding:0 3px;
	width:auto;
}
.labelForm{
	clear:both;
	float:left;
	width:350px;
	margin:10px 0 10px 0;
	background-image:url("../_slice/info.gif");
	background-position:left top;
	background-repeat:no-repeat;
}
.labelForm1{
	clear:both;
	float:left;
	width:739px;
	margin:10px 0 10px 0;
	background-image:url("../_slice/info.gif");
	background-position:left top;
	background-repeat:no-repeat;
}
.labelForm1 label{
	float:left;
	padding:2px 0 0 20px;
	width:123px;
}
.labelForm label{
	float:left;
	padding:2px 0 0 20px;
	width:123px;
}
.labelForm input{
	float:left;
	width:155px;
}
.degree{
	width:78px !important;
}
.regSite input{
	float:left;
	width:560px;
}
input.find{
	float:left;
	width:26px;
	height:20px;
}
div.find{
	float:right;
	width:26px;
	height:20px;
}
input.clear{
	float:left;
	width:50px;
	height:20px;
}
.tabForm{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
.tabForm ul{

	float:left;
	list-style:none;
	margin:0 2px;
	padding:0;
	width:auto;
}
.tabForm ul li{
	border:1px solid #E2E2E2;
	background-color:#ffffff;
	float:left;
	list-style:none;
	margin:0 2px;
	padding:0;
	width:auto;
}
.tabForm ul li a{
	color:#1464D1;
	float:left;
	font-size:12px;
	font-weight:bold;
	padding:3px 25px;
	text-transform:uppercase;
	width:auto;
}
.tabForm ul li a.selected{
	color:#333333;
	background-color:#999999;
	font-weight:bold;
	float:left;
	font-size:12px;
	padding:3px 25px;
	text-transform:uppercase;
	width:auto;
}
.contentSearch{
	clear:both;
	float:left;
	width:100%;
}
.parCont p{
	margin:0 10px 0 0;
	padding:0;
	text-align:right;
	color:#333333;
	font-size:12px;
	font-weight:bold;
}
.parCont input{
	float:right;
	
}
.parCont3 p{
	margin:0 10px 0 0;
	padding:0;
	text-align:right;
	color:#333333;
	font-size:12px;
	font-weight:bold;
}
.parCont3 input{
	float:right;
	
}
.parCont{
	clear:both;
	float:left;
	width:98%;
}
.parCont3{
	clear:both;
	float:left;
	width:96%;
}
.parCont1{
	float:left;
	width:2%;
	padding:2px 0 0 0;
}
.parCont2{
	float:left;
	padding:2px 0 0 13px;
	width:2%;
}
.id{
	clear:both;
	float:left;
	width:30px;
	font-size:12px;
	font-weight:bold;
	padding:3px 0 0 14px;
}
.key{
	clear:both;
	float:left;
	width:90px;
	font-size:12px;
	font-weight:bold;
	padding:3px 0 0 14px;
}
.key p{
	margin:0;
}
.id p{
	margin:0;
}
.inputId{
	float:left;
	width:150px;
}
.titlePage5{
	clear:both;
	float:left;
	width:30%;
	padding:10px 0 10px 0;
}
.titlePage6{
	float:left;
	width:33%;
	padding:10px 0 10px 0;
}
.searchBtn{
	clear:both;
	float:right;
	width:auto;
	padding:10px 0 0 0;
}

table.tableWidget
{
	clear:both;
	float:left;
	width:100%;
	border:0 !important;
}
table.tableWidget tr td 
{
	border:0 !important;
}
.row{
	clear:both;
	float:left;
	width:100%;
	margin:8px 0 8px 0;
	padding:0;
}