/* Elastislide Style */
.es-carousel-wrapper{
	padding:0;
	position:absolute;
	/*position:relative;*/
	margin-bottom:20px;
	bottom:10px;
	 position: absolute;
    width: 600px;
}
.es-carousel{
	overflow:hidden;
    margin-bottom: 10px;
    margin-left: 48px;
    height:70px;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#000;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    border-width: 1px;
}
.es-carousel ul li.selected a{
	border-color:#fff;
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:8px;
	background:transparent url(/ProjectDOMPE/_slice/Gallery/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}

.XClose {
    background-color: #DADADA !important;
    background-image: url("../../_js/css/theme/images/ui-icons_cd0a0a_256x240.png") !important;
    background-position: -96px -128px !important;
    border: 1px solid #999999 !important;
    border-radius: 5px !important;
    color: #FF0000 !important;
    font-weight: normal !important;
    overflow: hidden !important;
    padding: 1px !important;
    position: absolute !important;
    right: 5px !important;
    text-indent: -9999em !important;
    top: 0 !important;
    width: 16px !important;
    height: 16px !important;
    z-index:10 !important;
}

.es-carousel ul
{
    width:auto !important;
}
.es-carousel ul li
{
    width:auto !important;
}