.rg-image-wrapper{
	position:relative;
	padding:20px 0;
/*	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; */
	min-height:20px;
    width:600px;
}
.rg-image-nav
{
    width: 600px;
    float: left;
    margin:0;
    padding:0;
    z-index:999;
    height:100%;
    position:absolute;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}
.rg-image img{
	max-height:100%;
	max-width:100%;
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:-32px;
	background:url(/ProjectDOMPE/_slice/left.png) no-repeat left 50%;
	width:22px;
	height:100%;
	text-indent:-9999em;
	cursor:pointer;
	outline:none;
/*	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px; */
}
.rg-image-nav a.rg-image-nav-next{
	right:-32px;
	left:inherit;
	background:url(/ProjectDOMPE/_slice/right.png) no-repeat right 50%;
/*	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px; */
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption {
	text-align:center;
	margin-top:7px;
	position:relative;
}
.rg-caption p{
	font-size:10px;
	letter-spacing:2px;
	font-family: Tahoma;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:5px;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(/ProjectDOMPE/_slice/Gallery/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(/ProjectDOMPE/_slice/Gallery/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
/*	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; */
	opacity:0.7;
}

@font-face {font-family: 'Helvetica Neue';src: url('/ProjectDOMPE/_css/webfonts/HelveticaNeue-Heavy.eot');src: url('/ProjectDOMPE/_css/webfonts/HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'),url('/ProjectDOMPE/_css/webfonts/HelveticaNeue-Heavy.woff') format('woff'),url('/ProjectDOMPE/_css/webfonts/HelveticaNeue-Heavy.ttf') format('truetype');}

  
@font-face {font-family: 'Museo700';src: url('/ProjectDOMPE/_css/webfonts/29CE27_0_0.eot');src: url('/ProjectDOMPE/_css/webfonts/29CE27_0_0.eot?#iefix') format('embedded-opentype'),url('/ProjectDOMPE/_css/webfonts/29CE27_0_0.woff') format('woff'),url('/ProjectDOMPE/_css/webfonts/29CE27_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Museo300';src: url('/ProjectDOMPE/_css/webfonts/29CE27_1_0.eot');src: url('/ProjectDOMPE/_css/webfonts/29CE27_1_0.eot?#iefix') format('embedded-opentype'),url('/ProjectDOMPE/_css/webfonts/29CE27_1_0.woff') format('woff'),url('/ProjectDOMPE/_css/webfonts/29CE27_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Museo500';src: url('/ProjectDOMPE/_css/webfonts/29CE27_2_0.eot');src: url('/ProjectDOMPE/_css/webfonts/29CE27_2_0.eot?#iefix') format('embedded-opentype'),url('/ProjectDOMPE/_css/webfonts/29CE27_2_0.woff') format('woff'),url('/ProjectDOMPE/_css/webfonts/29CE27_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans500';src: url('webfonts/29CE27_3_0.eot');src: url('webfonts/29CE27_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/29CE27_3_0.woff') format('woff'),url('webfonts/29CE27_3_0.ttf') format('truetype');}

iframe h2.photogallery
{
        color:#404143 !important;
        font-family: 'Museo300',Arial,Helvetica,sans-serif !important;                      
        margin:20px 0 !important;
}