﻿@charset "utf-8";
/* CSS Document */
  @font-face {
	font-family: 'HelveticaNeue-Heavy';
	src: url('fonts/HelveticaNeue-Heavy.eot');
	src: local('☺'), url('fonts/HelveticaNeue-Heavy.woff') format('woff'), url('fonts/HelveticaNeue-Heavy.ttf') format('truetype'), url('fonts/HelveticaNeue-Heavy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {font-family: 'Helvetica Neue';src: url('webfonts/helveticaneuebold-webfont.eot');src: url('webfonts/HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'),url('webfonts/HelveticaNeue-Heavy.woff') format('woff'),url('webfonts/HelveticaNeue-Heavy.ttf') format('truetype');}

  
@font-face {font-family: 'Museo700';src: url('webfonts/29CE27_0_0.eot');src: url('webfonts/29CE27_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/29CE27_0_0.woff') format('woff'),url('webfonts/29CE27_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Museo300';src: url('webfonts/29CE27_1_0.eot');src: url('webfonts/29CE27_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/29CE27_1_0.woff') format('woff'),url('webfonts/29CE27_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Museo500';src: url('webfonts/29CE27_2_0.eot');src: url('webfonts/29CE27_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/29CE27_2_0.woff') format('woff'),url('webfonts/29CE27_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans500';src: url('webfonts/29CE27_3_0.eot');src: url('webfonts/29CE27_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/29CE27_3_0.woff') format('woff'),url('webfonts/29CE27_3_0.ttf') format('truetype');}

    html, body {
        position: relative;
        height: 100%;
    }
    body {
        font-size: 22px;
		background-color: #333;
		font-family: "Museo300",Arial,Helvetica,sans-serif;
		height: 100%;
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;
		color: #fff;

    }
	.relHid{
		position:relative;
		overflow:hidden;
		width: 100%;
		height:100%;
	}
	.loading{
	position:absolute;
	left:0;
	width:100%;
	top:0;
	height:100%;
	overflow:hidden;
	text-indent:-9999em;
	background-color: #f2f2f2;
	background-image: url("../_slice/loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
	background-size: 100px 100px;
	background-color:white;
	}
.swiper-container-horizontal>.swiper-pagination {
    top: 66%;
    left: 7%;
    width: auto;
}
.swiper-pagination-bullet {
    background: #fff;
    opacity: 0.4;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}
div.supHinMCC{ background-size:100%; background-position:left top !important; background-repeat:no-repeat !important; height:135px !important;}
.interna .allPageContent p.supHinMCC{ margin-top:10px !important; width:100% !important; font-size:11px !important;}
.interna .allPageContent p.supHinMCC br{
	display:none !important;
}
.swiper-button-disabled
{
    display: none !important;
}
	body.onePage{
		overflow:hidden;
		height: 100%;
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;
		left:0;
		top:0;
	}
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
.next {
    bottom: 5%;
    clear: both;
    float: left;
    height: 38px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10%;
    width: 38px;
    z-index: 2;
	overflow:hidden;
	background-color:#fff;
	border-radius:38px;
}
.next span{
     background-image: url("../_slice/nextnew.png");
    background-position: center 16px;
    background-repeat: no-repeat;
    background-size: 23px auto;
   top: 0;
    clear: both;
    float: left;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    left: 0;
    text-indent: -9999em;
    width: 100%;
    z-index: 2;
}

.iScrollLoneScrollbar{ display:none !important;}
.iScrollIndicator{ display:none !important;}
.prev {
    bottom: 15%;
    clear: both;
    float: left;
    height: 38px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10%;
    width: 38px;
    z-index: 2;
	display:none;
	overflow:hidden;
	background-color:#fff;
	border-radius:38px;
}
.prev span{
    background-image: url("../_slice/prevnew.png");
    background-position: center 12px;
    background-repeat: no-repeat;
    background-size: 23px auto;
    top: 0;
    clear: both;
    float: left;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    left: 0;
    text-indent: -9999em;
    width: 100%;
    z-index: 2;
}
.menu {
    background-image: url("../_slice/menu.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    clear: both;
    float: left;
    height: 38px;
	padding:0;
    left: 8%;
    margin: 0;
    position: absolute;
    top: 29px;
    width: 38px;
	z-index:9999;
	transition: all 0.3s ease 0s;
}
.swiper-slide{
    background-color: #333;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.sliderHp{ display:block !important;}
/*.page1 .sliderHp .cntItem{ display:block !important;}*/
.page1 .slideHp1{
    background-image: url("../_slice/scrollablepages/bg1.jpg");
}
.page1 .slideHp2{
    background-image: url("../_slice/scrollablepages/bg1_2.jpg");
}
.page1 .slideHp3{
    background-image: url("../_slice/scrollablepages/bg1_3.jpg");
}
.page1 .slide3{
    background-image: url("../_slice/scrollablepages/bg3.jpg");
}
.page1 .slide4{
    background-image: url("../_slice/scrollablepages/bg4.jpg");
}
.page1 .slide5{
    background-image: url("../_slice/scrollablepages/bg5.jpg");
}
.page1 .slide6{
    background-image: url("../_slice/scrollablepages/bg6.jpg");
}
.page1 .slide7{
    background-image: url("../_slice/scrollablepages/bg7.jpg");
}
.page1 .slide8{
    background-image: url("../_slice/scrollablepages/bg8.jpg");
}
.gallery-swiper .swiper-button-prev, .gallery-swiper .swiper-button-next{
	top:50%;
	margin-top:-15px;
}
.container {
    clear: both;
    float: left;
    height: 100%;
    margin: 0;
    padding: 0 8%;
    width: 84%;
	background-color:transparent;
}
.bgBlack {
    clear: both;
    float: left;
    height: 94%;
    margin: 0;
    padding: 0;
    width: 92%;
    background: rgba(0, 0, 0, 0.2);
    margin: 2% 4%;
}
.pageCnt {
    clear: both;
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.page1 h1 {
    background-image: url("../_slice/logo.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    clear: both;
    float: left;
    height: 35px;
    left: 8%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-indent: -9999em;
    top: 30%;
    width: 95px;
	z-index:9999;
}
.pageCnt .pageBox {
    float: left;
    height: 47%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45%;
    width: 100%;
}
.pageCnt h2 {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 23px;
    margin: 0;
    top: 97px;
    font-size: 22px;
}
.slide1 .pageCnt h2 {
    margin: 0 0 10px;
    padding: 0;
}
.pageCnt h3 {
    color: #fff;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 23px;
    margin: 0 0 20px;
    padding: 0;
}
.slide1 .pageCnt h3 {
    font-family: "Museo300",Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: inherit;
}
.pageCnt .go {
    background-image: url("../_slice/arrowSmall.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 30px auto;
    clear: both;
    float: left;
    height: 38px;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-indent: -9999em;
    top: 25%;
    width: 38px;
}
.slide1 .pageCnt .go {
    top: 30%;
}
.pageCnt .view {
    bottom: 0;
    clear: both;
    float: left;
    height: 38px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 38px;
    background-image: url("../_slice/menu.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 30px auto;
	overflow:hidden;
}
.pageCnt .view span {
    background-image: url("../_slice/arrowTra.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    top: 0;
    clear: both;
    float: left;
    height: 30px;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-indent: -9999em;
    width: 30px;
}
.slide1 .pageCnt .view {
    left: 40px;
    top: 30%;
}
.slide1 .slideHp2 .pageCnt .view {
    left: 0;
}
.slide1 .slideHp3 .pageCnt .view {
    left: 0;
}
.slide2 .pageCnt{
    top: 40%;
}
.page1 .slide2 .pageCnt{
    top: 30%;
}
.pageCnt .txt {
    border-top: 1px solid #ccc;
    color: #ccc;
    font-family: "Museo700",Arial,Helvetica,sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 20px 45px 0 0;
}
.page2 .pageCnt .txt {
    border-top: 0;
}
.page3 .pageCnt .txt {
    border-top: 0;
}
.page4 .pageCnt .txt {
    border-top: 0;
}
.page5 .pageCnt .txt {
    border-top: 0;
}
.page6 .pageCnt .txt {
    border-top: 0;
}
.page7 .pageCnt .txt {
    border-top: 0;
}
.pageCnt .txt p {
    margin: 0;
    padding: 0;
}
.slide2 .pageCnt .go {
    left: 0;
    margin: 20px 0 0;
    position: relative;
    top: 0;
}
.page1 .slide2 .pageCnt .view {
    clear: none;
    float: left;
    left: 10px;
    margin: 20px 0 0;
    position: relative;
    top: 0;
}
.page2 .pageCnt h3 a{ color:#e62139; text-decoration:none;}
.page2 .slide3 .pageCnt h3 a{ color:#e62139; text-decoration:none;}
.slide4 .pageCnt,.slide5 .pageCnt,.slide6 .pageCnt,.slide7 .pageCnt,.slide8 .pageCnt{
    height: 60%;
    top: 40%;
}
body .dResArea {
    bottom: 5%;
}
body .dResArea a {
    margin: 0;
	font-size:21px;
    width: 100%;
}
.page2 .pageCnt,.page3 .pageCnt,.page4 .pageCnt,.page5 .pageCnt,.page6 .pageCnt,.page7 .pageCnt{
    height: 60%;
    top: 40%;
}
.page3 .slide9 .pageCnt{
    height: 60%;
    top: 40%;
}
.page2 .slide1 .pageCnt{
    height: 100%;
    top: 0;
}
.page3 .slide1 .pageCnt{
    height: 100%;
    top: 0;
}
.page4 .slide1 .pageCnt{
    height: 100%;
    top: 0;
}
.page5 .slide1 .pageCnt{
    height: 100%;
    top: 0;
}
.page6 .slide1 .pageCnt{
    height: 100%;
    top: 0;
}
.page7 .slide1 .pageCnt{
    height: 100%;
    top: 0;
}
h2, h3 {
    letter-spacing: -1px !important;
}
.pageCnt .txt {
    color: #fff;
    font-family: "Museo300",Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.page1 .slide2 .pageCnt .txt {
    color: #ccc;
    font-family: "Museo700",Arial,Helvetica,sans-serif;
    font-weight: 400;
}

.news_red{
	position:absolute;
	left:0;
	bottom:0;
	height:50%;
	width:100%;
}
.page1 .slide3 .pageCnt {
    height: 100%;
    left: initial;
    position: relative;
    top: 0;
}
.page6 .slide2 .pageCnt {
    height: 100%;
    left: initial;
    position: relative;
    top: 0;
}

.page1 .slide3 .pageCnt h3{
    color: #e62139;
    letter-spacing: -2px;
    margin-top: 36%;
}

.page6 .slide2 .pageCnt h3{
    color: #e62139;
    letter-spacing: -2px;
    margin-top: 36%;
}
.newsItem {
    clear: both;
    float: left;
    padding: 10px 0 30px;
    position: relative;
    width: 100%;
    font-size: 15px;
}
.news_red .newsItem {
	padding: 3px 0 38px;
	margin-top:30px;
}
.newsItem span {
    clear: both;
    color: #e62139;
    float: left;
    font-family: "Museo300",Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 0;
}
.interna .allPageContent .newsItem h3 a {
    font-family: "Museo300",Arial,Helvetica,sans-serif;
    font-weight: 300;
	line-height:18px;
	font-size:16px;
}
.interna .allPageContent .newsItem p{ line-height:18px !important;}
.newsItem .date {
    clear: both;
    float: left;
    color: #e62139;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-right: 45px;
	margin:0 !important;
}
.interna .allPageContent .newsItem .date {
    clear: both;
    float: left;
    color: #e62139;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 21px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-right: 45px;
	position:relative;
	margin:-40px 0 0 0 !important;
}
.interna .allPageContent .pubbItem .date{
	margin:0 0 0 0 !important;
}
.news_red .newsItem .date {
    color: #fff;
}
.news_red .newsItem span {
    color: #fff;
}
.page1 .slide4 .pageCnt .txt {
    border-top: 0;
	padding-top:0;
	padding:0 45px 70px 0;
	position:relative;
}
.page1 .slide5 .pageCnt .txt {
    border-top: 0;
	padding-top:0;
	padding:0 45px 70px 0;
	position:relative;
}
.page1 .slide6 .pageCnt .txt {
    border-top: 0;
	padding-top:0;
	padding:0 45px 70px 0;
	position:relative;
}
.page1 .slide7 .pageCnt .txt {
    border-top: 0;
	padding-top:0;
	padding:0 45px 70px 0;
	position:relative;
}
.page1 .slide8 .pageCnt .txt {
    border-top: 0;
	padding-top:0;
	padding:0 45px 70px 0;
	position:relative;
}
.page2 .slide5 .pageCnt .txt {
    border-top: 0;
	padding-top:0;
	padding:0 45px 70px 0;
	position:relative;
}
.page2 .slide5 .pageCnt h3 a {
	color: #e62139;
}
.page1 .slide8 .pageCnt h3{
	color: #e62139;
}
.page2 .slide6 .pageCnt .txt {
    border-top: 0;
	padding-top:0;
	padding:0 45px 70px 0;
	position:relative;
}
.page2 .slide6 .pageCnt h3 a {
	color: #e62139;
}
.page2 .slide7 .pageCnt h3 a {
	color: #e62139;
}
.page2 .slide1 .pageCnt h2 {
	color: #e62139;
}
.page3 .slide1 .pageCnt h2{
	color: #e62139;
}
.page3 .pageCnt h3 a {
	color: #e62139;
	text-decoration:none;
}
.page4 .slide1 .pageCnt h2{
	color: #e62139;
}
.page4 .pageCnt h3 a {
	color: #e62139;
	text-decoration:none;
}
.page5 .slide1 .pageCnt h2{
	color: #e62139;
}
.page5 .pageCnt h3 a {
	color: #e62139;
	text-decoration:none;
}
.page6 .slide1 .pageCnt h2{
	color: #e62139;
}
.page6 .pageCnt h3 a {
	color: #e62139;
	text-decoration:none;
}
.page7 .slide1 .pageCnt h2{
	color: #e62139;
}
.page7 .pageCnt h3 a {
	color: #e62139;
	text-decoration:none;
}


.footerCnt .followUs {
    clear: both;
    float: left;
    margin: 10px 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.footerCnt .followUs span {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 13px;
    line-height: 40px;
    width: auto;
}
.footerCnt .followUs a {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    float: left;
    height: 40px;
    margin: 0 0 0 10px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999em;
    width: 40px;
}
.footerCnt .followUs a.linkedInF {
    background-image: url("../_slice/linkedIn.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    float: left;
    height: 30px;
    margin: 0 0 0 10px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999em;
    width: 30px;
}
.footerCnt .followUs a.youtubeF {
    background-image: url("../_slice/youtube.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    float: left;
    height: 30px;
    margin: 0 0 0 10px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999em;
    width: 30px;
}
ul.fooB {
    clear: both;
    float: left;
    list-style: outside none none;
    margin: 10px 0;
    padding: 0;
    width: 100%;
}
.footerCnt .copyright {
    color: #777;
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    width: 83%;
}
ul.fooB li {
    clear: both;
    float: left;
    list-style: outside none none;
    margin: 0 0 3px;
    padding: 0;
}
ul.fooB li a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}
.slide9 .copyright p {
    color: #777;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.footerCnt .copyright p {
    color: #777;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.footerCnt .copyright {
    font-size: 12px;
}

.slide9 .pageCnt {
	top:30%;
	height:60%;
}
.menuBox {
    background-color: #e62139;
    clear: both;
    float: left;
    height: 100%;
    left: -100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

.menuCnt {
    clear: both;
    float: left;
    height: 89%;
    left: 0;
    margin: 3% 5% 5%;
    overflow: hidden;
    padding: 5%;
    position: absolute;
    top: 0;
    width: 80%;
}
/*.close {
    background-image: url("../_slice/close.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    clear: both;
    float: left;
    height: 36px;
    left: 3%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-indent: -9999em;
    top: 18px;
    width: 36px;
}*/
.home-link {
    color: #f17a8b;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 26px;
    left: 3%;
    letter-spacing: -1px;
    position: absolute;
    text-decoration: none;
    top: 18%;
}
.tools {
    float: right;
    margin: 4px 0 0 0;
    padding: 0;
    position: relative;
    width: auto;
}
.tools a {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    float: right;
    height: 36px;
    margin: 0 0 0 10px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999em;
    width: 36px;
}
.tools a.lock {
    background-image: url("../_slice/lock.png");
}
.tools a.lockSel {
    background-image: url('/PrjDOMPEMobile/_css/_slice/unlock_w.png');
}
.tools a {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    float: right;
    height: 36px;
    margin: 0 0 0 10px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999em;
    width: 36px;
}
.tools a.mail {
    background-image: url("../_slice/mail.png");
}
.tools a {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    float: right;
    height: 36px;
    margin: 0 0 0 10px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999em;
    width: 36px;
}
.tools a.search {
    background-image: url("../_slice/search.png");
}
.tools a {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    float: right;
    height: 36px;
    margin: 0 0 0 10px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999em;
    width: 36px;
}
.contFlag {
    position: absolute;
    right: 0;
    top: 36px;
}
.contFlag a {
    background-size: 35px 35px;
    clear: both;
    float: left;
    height: 35px;
    width: 35px;
}

.itemsMenu {
    bottom: 26%;
    clear: both;
    float: left;
    left: 3%;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.itemsMenu ul {
    clear: both;
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.itemsMenu ul li {
    clear: both;
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.itemsMenu ul li a {
    clear: both;
    color: #f17a8b;
    float: left;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 26px;
    letter-spacing: -1px;
    margin: 0 0 1px;
    padding: 0;
    text-decoration: none;
    width: auto;
}
.itemsMenu ul li a.active{
    color: #fff;
}
.menuCnt a.home-link.active{
    color: #fff;
}
.menuCnt .footerMenu {
    bottom: 3%;
    clear: both;
    float: left;
    left: 3%;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.menuCnt .followUs {
    clear: both;
    float: left;
    margin: 10px 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.menuCnt .followUs span {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 13px;
    line-height: 40px;
    width: auto;
}

.menuCnt .followUs .linkedIn {
    background-image: url("../_slice/linkedIn.png");
}

.menuCnt .followUs .youtube {
    background-image: url("../_slice/youtube.png");
}
.menuCnt .followUs a {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    float: left;
    height: 30px;
    margin: 0 0 0 10px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999em;
    width: 30px;
}

.menuCnt .copyright {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    width: 85%;
}

.menuCnt .copyright p {
    color: #fff;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.menuCnt .copyright {
    color: #fff;
    font-size: 13px;
}
.searchBox {
    display: none;
    height: 57%;
    left: 3%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 25%;
    width: 94%;
}

.searchBox input {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #fff;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 5% 15% 20px;
    padding: 0 3%;
    width: 64%;
}

.searchBox a.btn {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #686868;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0 15% 10px;
    padding: 0 3%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 64%;
}

a.closeSea {
    color: #fff;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0 15% 10px;
    padding: 0 3%;
    text-align: center;
    text-decoration: underline;
    width: 64%;
}
.loginBox {
    background-color: #e62139;
    display: none;
    height: 60%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 18%;
    width: 100%;
}

#userTypeList {
    margin-bottom: 0 !important;
}
.loginBox select {
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: transparent;
    color: #ee98a3;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 5% 15% 20px;
    padding: 0 3%;
    width: 70%;
}
#dLocalLogin {
    border: 0 none;
    height: 180px;
    margin: 0 0 0;
    padding: 0;
    width: 100%;
    display: none;
}
.loginBox input {
    border: 1px solid #fff;
    border-radius: 40px;
    color: #333;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0 15% 15px;
    padding: 0 3%;
    width: 64%;
}

.loginBox a.btn {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #686868;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0 15% 10px;
    padding: 0 3%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 64%;
}

.psswDim {
    color: #fff;
    font-size: 11px;
    text-align: center;
    font-size: 50% !important;
    margin: 10px 10% !important;
    text-align: center;
    text-decoration: none;
	padding:0 !important;
	width:80% !important;
	float:left;
	clear:both;
}
.psswDim span {
    color: #fff;
    font-style: italic;
    text-decoration: underline;
}

a.closeSea {
    color: #fff;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0 15% 10px;
    padding: 0 3%;
    text-align: center;
    text-decoration: underline;
    width: 64%;
}

.page2,.page3,.page4,.page5,.page6,.page7,.page8,.page9{
	position:absolute;
	left:100%;
	top:0;
	margin:0;
	padding:0;
}

.cntItem{
	position:absolute;
	left:0;
	top:0;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	display:none;
}
.slide1 .cntItem{
	display:block;
}

.page2 .slide1{
    background-image: url("../_slice/scrollablepages/chisiamo_01.jpg");
}
.page2 .slide2{
    background-image: url("../_slice/scrollablepages/chisiamo_02.jpg");
}
.page2 .slide3{
    background-image: url("../_slice/scrollablepages/chisiamo_03.jpg");
}
.page2 .slide4{
    background-image: url("../_slice/scrollablepages/chisiamo_04.jpg");
}
.page2 .slide5{
    background-image: url("../_slice/scrollablepages/chisiamo_05.jpg");
}
.page2 .slide6{
    background-image: url("../_slice/scrollablepages/chisiamo_06.jpg");
}
.page2 .slide7{
    background-image: url("../_slice/scrollablepages/chisiamo_07.jpg");
}
.page2 .slide8{
    background-image: url("../_slice/scrollablepages/chisiamo_08.jpg");
}


/* ====================== lines button ==================================================*/

.grid-button {
  padding: 2rem;
  cursor: pointer;
  user-select: none;
}

.grid-button .grid {
  width: 1rem;
  height: 1rem;
  background: #ecf0f1;
  color: #ecf0f1;
  /* Not in use when the colors are specified below */
  transition: 0.3s;
}

.grid-button.close .grid {
  -webkit-transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8);
  transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8);
}

.grid-button.rearrange .grid {
  box-shadow: -1.25rem -1.25rem, 0 -1.25rem, 1.25rem -1.25rem, -1.25rem 0, 1.25rem 0, -1.25rem 1.25rem, 0 1.25rem, 1.25rem 1.25rem;
}

.grid-button.rearrange.close .grid {
  box-shadow: 0 -1rem, 0 -2rem, 1rem 0, -2rem 0, 2rem 0, -1rem 0, 0 2rem, 0 1rem;
}

.grid-button.collapse .grid {
  box-shadow: -1.25rem 0, -1.25rem 1.25rem, 1.25rem 0, 1.25rem -1.25rem, 0 -1.25rem, -1.25rem -1.25rem, 0 1.25rem, 1.25rem 1.25rem;
}

.grid-button.collapse.close .grid {
  box-shadow: -1rem 0, 0 0 transparent, 1rem 0, 0 0 transparent, 0 -1rem, 0 0 transparent, 0 1rem, 0 0 transparent;
}

/* ====================== lines button ==================================================*/
/*CHRISTIAN */

.lines-button {
  transition: .3s;
  cursor: pointer;
  user-select: none;
  /* */
}
.lines-button:hover {
  opacity: 1;
}
.lines-button:active {
  transition: 0;
}

.lines {
  display: inline-block;
    width: 16px;
    height: 1px;
    background: #686868 none repeat scroll 0 0;
    border-radius: 10px;
  transition: 0.3s;
  position: relative;
	margin:18px 11px;
}



.lines:before, .lines:after {
  display: inline-block;
    width: 16px;
    height: 1px;
    background: #686868 none repeat scroll 0 0;
    border-radius: 10px;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
}

.lines:before {
  top: -5px;
}
.lines:after {
  top: 5px;
}

.lines-button:hover .lines:before {
  top: -5px;
}
.lines-button:hover .lines:after {
  top: 5px;
}

.lines-button.close {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.lines-button.arrow.close .lines:before, .lines-button.arrow.close .lines:after {
  top: 0;
    width: 16px;
}
.lines-button.arrow.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}
.lines-button.arrow.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}

.lines-button.arrow-up.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
  transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
}

.lines-button.minus.close .lines:before, .lines-button.minus.close .lines:after {
  -webkit-transform: none;
  transform: none;
  top: 0;
    width: 16px;
}

.lines-button.x.close .lines {
  background: transparent;
}
.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
    width: 16px;
}
.lines-button.x.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.lines-button.x2 .lines {
  transition: background 0.15s 0.3s ease;
}
.lines-button.x2 .lines:before, .lines-button.x2 .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: top 0.15s 0.3s ease, -webkit-transform 0.15s ease;
  transition: top 0.15s 0.3s ease, transform 0.15s ease;
}

.lines-button.x2.close .lines {
  transition: background 0.15s 0s ease;
  background: transparent;
}
.lines-button.x2.close .lines:before, .lines-button.x2.close .lines:after {
  transition: top 0.15s ease, -webkit-transform 0.15s 0.3s ease;
  transition: top 0.15s ease, transform 0.15s 0.3s ease;
  top: 0;
    width: 16px;
}
.lines-button.x2.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x2.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
/* END MENU BTN */

.redBg{
	position:absolute;
	left:0;
	bottom:0;
	height:50%;
	width:100%;
	background-color:#E7213A;
}


.secondPageLevel{
	position:fixed;
	left:100%;
	top:0;
	height:100%;
	width:100%;
	z-index:2;
	overflow:auto;
	background-color:#333;
}
.ps-scrollbar-y-rail{
	visibility:hidden !important;
}
.secondPageLevel2{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
.secondPageLevel3{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

.page3 .slide1{
    background-image: url("../_slice/scrollablepages/3_1.jpg");
}
.page3 .slide2{
    background-image: url("../_slice/scrollablepages/3_2.jpg");
}
.page3 .slide3{
    background-image: url("../_slice/scrollablepages/3_3.jpg");
}
.page3 .slide4{
    background-image: url("../_slice/scrollablepages/3_4.jpg");
}
.page3 .slide5{
    background-image: url("../_slice/scrollablepages/3_5.jpg");
}
.page3 .slide6{
    background-image: url("../_slice/scrollablepages/3_6.jpg");
}
.page3 .slide7{
    background-image: url("../_slice/scrollablepages/3_7.jpg");
}
.page3 .slide8{
    background-image: url("../_slice/scrollablepages/3_8.jpg");
}
.page3 .slide9{
    background-image: url("../_slice/scrollablepages/3_9.jpg");
}
.page3 .slide10{
    background-image: url("../_slice/scrollablepages/3_10.jpg");
}

.page4 .slide1{
    background-image: url("../_slice/scrollablepages/4_1.jpg");
}
.page4 .slide2{
    background-image: url("../_slice/scrollablepages/4_2.jpg");
}
.page4 .slide3{
    background-image: url("../_slice/scrollablepages/4_3.jpg");
}
.page4 .slide4{
    background-image: url("../_slice/scrollablepages/4_4.jpg");
}
.page4 .slide5{
    background-image: url("../_slice/scrollablepages/4_5.jpg");
}

.page5 .slide1{
    background-image: url("../_slice/scrollablepages/5_1.jpg");
}
.page5 .slide2{
    background-image: url("../_slice/scrollablepages/5_2.jpg");
}
/*.page5 .slide3{
    background-image: url("../_slice/scrollablepages/5_3.jpg");
}*/
.page5 .slide3{
    background-image: url("../_slice/scrollablepages/5_4.jpg");
}
/*.page5 .slide5{
    background-image: url("../_slice/scrollablepages/5_5.jpg");
}*/
.page5 .slide4{
    background-image: url("../_slice/scrollablepages/5_6.jpg");
}
.page5 .slide5{
    background-image: url("../_slice/scrollablepages/5_7.jpg");
}

.page6 .slide1{
    background-image: url("../_slice/scrollablepages/6_1.jpg");
}
.page6 .slide2{
    background-image: url("../_slice/scrollablepages/6_2.jpg");
}
.page6 .slide3{
    background-image: url("../_slice/scrollablepages/6_3.jpg");
}
.page6 .slide4{
    background-image: url("../_slice/scrollablepages/6_4.jpg");
}

.page7 .slide1{
    background-image: url("../_slice/scrollablepages/7_1.jpg");
}
.page7 .slide2{
    background-image: url("../_slice/scrollablepages/7_2.jpg");
}
.page7 .slide3{
    background-image: url("../_slice/scrollablepages/7_3.jpg");
}
.page7 .slide4{
    background-image: url("../_slice/scrollablepages/7_4.jpg");
}
.page7 .slide5{
    background-image: url("../_slice/scrollablepages/7_5.jpg");
}
.newsItem .view{
	bottom:-10px;
}


.page2 .slide2 .pageCnt .txt{
	padding-bottom:25px;
}

.page2 .slide3 .pageCnt .txt{
	padding-bottom:25px;
}

.page2 .slide4 .pageCnt .txt{
	padding-bottom:25px;
}

.page2 .slide7 .pageCnt .txt{
	padding-bottom:25px;
}

.page2 .slide8 .pageCnt .txt{
	padding-bottom:25px;
}




.page3 .slide2 .pageCnt .txt{
	padding-bottom:25px;
}

.page3 .slide3 .pageCnt .txt{
	padding-bottom:25px;
}

.page3 .slide4 .pageCnt .txt{
	padding-bottom:25px;
}

.page3 .slide5 .pageCnt .txt{
	padding-bottom:25px;
}

.page3 .slide6 .pageCnt .txt{
	padding-bottom:25px;
}

.page3 .slide7 .pageCnt .txt{
	padding-bottom:25px;
}

.page3 .slide8 .pageCnt .txt{
	padding-bottom:25px;
}

.page3 .slide9 .pageCnt .txt{
	padding-bottom:25px;
}

.page3 .slide10 .pageCnt .txt{
	padding-bottom:25px;
}




.page4 .slide2 .pageCnt .txt{
	padding-bottom:25px;
}

.page4 .slide3 .pageCnt .txt{
	padding-bottom:25px;
}

.page4 .slide4 .pageCnt .txt{
	padding-bottom:25px;
}

.page4 .slide5 .pageCnt .txt{
	padding-bottom:25px;
}



.page5 .slide2 .pageCnt .txt{
	padding-bottom:25px;
}

/*.page5 .slide3 .pageCnt .txt{
	padding-bottom:25px;
}
*/
.page5 .slide3 .pageCnt .txt{
	padding-bottom:25px;
}

/*.page5 .slide5 .pageCnt .txt{
	padding-bottom:25px;
}*/

.page5 .slide4 .pageCnt .txt{
	padding-bottom:25px;
}

.page5 .slide5 .pageCnt .txt{
	padding-bottom:25px;
}



.page6 .slide3 .pageCnt .txt{
	padding-bottom:25px;
}

.page6 .slide4 .pageCnt .txt{
	padding-bottom:25px;
}





.page7 .slide2 .pageCnt .txt{
	padding-bottom:25px;
}
.page7 .slide3 .pageCnt .txt{
	padding-bottom:25px;
}
.page7 .slide4 .pageCnt .txt{
	padding-bottom:25px;
}
.page7 .slide5 .pageCnt .txt{
	padding-bottom:25px;
}

.page2 .slide1 .pageCnt h2 {
    color: #fff;
}

.page3 .slide1 .pageCnt h2 {
    color: #fff;
}

.page4 .slide1 .pageCnt h2 {
    color: #fff;
}

.page5 .slide1 .pageCnt h2 {
    color: #fff;
}

.page6 .slide1 .pageCnt h2 {
    color: #fff;
}

.page7 .slide1 .pageCnt h2 {
    color: #fff;
}

.backBtn {
	z-index:999;
	clear:both;
	float:left;
	width:38px;
	margin:0;
	padding:0;
	position:absolute;
	left: 123%;
    top: 29px;
	height:38px;
	overflow:hidden;
	background-color:#808281;
	border-radius:38px;
}
.backBtn span{
    background-image: url("../_slice/back.png");
    background-position: 10px 7px;
    background-repeat: no-repeat;
    background-size: 13px auto;
    top: 0;
    clear: both;
    float: left;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    left: 0;
    text-indent: -9999em;
    width: 100%;
    z-index: 2;
}
.backBtn {
	margin-left:-2%;
}
body.onePage .page1,body.onePage .page2,body.onePage .page3,body.onePage .page4,body.onePage .page5,body.onePage .page6,body.onePage .page7{
	top:0 !important;
}

.medicoPage .page1 .slide1{
    background-image: url("../_slice/scrollablepages/medico1.jpg");
}
.medicoPage .page1 .slide2{
    background-image: url("../_slice/scrollablepages/medico2.jpg");
}
.medicoPage .page1 .slide3{
    background-image: url("../_slice/scrollablepages/medico3.jpg");
}
.medicoPage .page1 .slide4{
    background-image: url("../_slice/scrollablepages/medico4.jpg");
}
.medicoPage .page1 .slide5{
    background-image: url("../_slice/scrollablepages/medico5.jpg");
}
.medicoPage .page1 .slide6{
    background-image: url("../_slice/scrollablepages/medico6.jpg");
}
.partnerPage .page1 .slide1{
    background-image: url("../_slice/scrollablepages/partner1.jpg");
}
.partnerPage .page1 .slide2{
    background-image: url("../_slice/scrollablepages/partner2.jpg");
}
.partnerPage .page1 .slide3{
    background-image: url("../_slice/scrollablepages/partner3.jpg");
}
.partnerPage .page1 .slide4{
    background-image: url("../_slice/scrollablepages/partner4.jpg");
}
.partnerPage .page1 .slide5{
    background-image: url("../_slice/scrollablepages/partner5.jpg");
}
.stampaPage .page1 .slide1{
    background-image: url("../_slice/scrollablepages/stampa1.jpg");
}
.stampaPage .page1 .slide2{
    background-image: url("../_slice/scrollablepages/stampa2.jpg");
}
.stampaPage .page1 .slide3{
    background-image: url("../_slice/scrollablepages/stampa3.jpg");
}
.stampaPage .page1 .slide4{
    background-image: url("../_slice/scrollablepages/stampa4.jpg");
}
.stampaPage .page1 .slide5{
    background-image: url("../_slice/scrollablepages/stampa5.jpg");
}
.stampaPage .page1 .slide2 .pageCnt{
    top: 40%;
}
.partnerPage .page1 .slide2 .pageCnt{
    top: 40%;
}
.medicoPage .page1 .slide2 .pageCnt{
    top: 40%;
}
.stampaPage .pageCnt h3 a{ color:#e62139; text-decoration:none;}
.partnerPage .pageCnt h3 a{ color:#e62139; text-decoration:none;}
.medicoPage .pageCnt h3 a{ color:#e62139; text-decoration:none;}
.stampaPage .pageCnt .txt {
    padding-bottom: 25px !important;
	border:0 !important;
	padding-top:20px !important;
}
.partnerPage .pageCnt .txt {
    padding-bottom: 25px !important;
	border:0 !important;
	padding-top:20px !important;
}
.medicoPage .pageCnt .txt {
    padding-bottom: 25px !important;
	border:0 !important;
	padding-top:20px !important;
}
.partnerPage .pageCnt .view,.stampaPage .pageCnt .view {
    bottom: 0 !important;
    clear: both !important;
    float: left !important;
    height: 38px !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute !important;
    width: 38px !important;
    background-image: url("../_slice/menu.png") !important;
    background-position: left top !important;
    background-repeat: no-repeat !important;
    background-size: 30px auto !important;
	overflow:hidden !important;
	top:auto !important;
}
.medicoPage .page1 .slide3 .pageCnt {
    height: 60%;
    top: 40%;
}
.medicoPage .page1 .slide3 .pageCnt h3 {
    margin-top: 0;
}
.partnerPage .page1 .slide3 .pageCnt {
    height: 60%;
    top: 40%;
}
.partnerPage .page1 .slide3 .pageCnt h3 {
    margin-top: 0;
}
.stampaPage .page1 .slide3 .pageCnt {
    height: 60%;
    top: 40%;
}
.stampaPage .page1 .slide3 .pageCnt h3 {
    margin-top: 0;
}

.medicoPage .page1 .slide7 {
    background-image:none;
}
.medicoPage .page1 .slide7 .pageCnt {
    top: 30%;
}

.partnerPage .page1 .slide6 {
    background-image:none;
}
.partnerPage .page1 .slide6 .pageCnt {
    top: 30%;
}

.stampaPage .page1 .slide6 {
    background-image:none;
}
.stampaPage .page1 .slide6 .pageCnt {
    top: 30%;
}
.medicoPage .page1 .pageCnt .txt {
    color: #fff !important;
    font-family: "Museo300",Arial,Helvetica,sans-serif !important;
    font-weight: 300 !important;
}
.medicoPage .page1 .pageCnt .view {
    clear: both !important;
    float: left !important;
    left: 0 !important;
    margin: 0 !important;
    position:absolute !important;
    top: auto !important;
}
.medicoPage .page1 .pageCnt .txt{
    border-top: 0 !important;
    /*padding-top: 0 !important;
    padding: 0 45px 70px 0 !important;*/
    position: relative !important;
}
.medicoPage .page1 .slide6 .pageCnt .txt{
    padding-top: 0 !important;
    padding: 0 45px 70px 0 !important;
}
iframe{margin:0px; padding:0px; border:0px;width:100%;height:340px;    position: absolute;
    left: 0;
    top: 21%;}
iframe#FrameDocCheck{
	top:18% !important;
}
.loginBox .psswDim {
    position: relative;
    z-index: 3;
    margin-top: 220px !important;
	margin-bottom:0 !important;
}	
.loginBox a.closeSea {
	position:relative;
}
.imgNews{
    margin: 0 -6%;
    width: 112%;
    max-width: 112%;
}
.imgPipeline{
    margin: 0 -6%;
    width: 112%;
    max-width: 112%;
}
h2.titleNews {
	top:8% !important;
	left:29px !important;
}
h2.titlePubb {
    top: 7% !important;
}
.threeColBox{clear:both; float:left; width:100%; margin:0; padding:0;}
.threeColItem{float:left; width:30%; margin:0 5% 0 0; padding:0;}
.threeColItemLast{margin:0;}
.threeColItem ul{margin: 10px 0; padding:0; display:block; list-style:none;}
.threeColItem ul li{margin:0; padding:0; display:block; font-weight:700; text-transform:uppercase;}
.threeColItem ul li ul{margin:0; padding:0; display:block; list-style:none;}
.threeColItem ul li ul li{margin: 0 0 0 10px; padding:0; display:block; font-weight:400; text-transform: none;line-height: 15px;}
.contManager{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	position:relative;
	padding:0;
}
.contSede{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	position:relative;
	padding:0;
}
.contManager img{
	width:100%;
}
.contSede img{
	width:100%;
}
body .contManager a.view{
    left: 8% !important;
}

body .contManager h3{
    left: 8% !important;
}

body .contManager p{
    left: 8% !important;
}


body .contSede a.view{
    left: 8% !important;
}

body .contSede h3{
    left: 8% !important;
}

body .contSede p{
    left: 8% !important;
}




@media only screen 
  and (orientation: landscape) {
.prev{ bottom:20%; }
.searchBox{ top:11%;}
iframe{height:110px;    position: relative;
    left: auto;
    top: auto;}


.page1 .slideHp1{
    background-image: url("../_slice/landscape/bg1.jpg");
}
.page1 .slideHp2{
    background-image: url("../_slice/landscape/bg1_2.jpg");
}
.page1 .slideHp3{
    background-image: url("../_slice/landscape/bg1_3.jpg");
}
.page1 .slide3{
    background-image: url("../_slice/landscape/bg3.jpg");
	background-size: auto 100%;
    background-position: -155px top;
}
.page6 .slide2{
    background-image: url("../_slice/landscape/6_2.jpg");
	background-size: 100% auto;
    background-position: left top;
}
.medicoPage .page1 .slide3{
	background-size: 100% auto;
    background-position: center center;
}
.partnerPage .page1 .slide3{
	background-size: 100% auto;
    background-position: center center;
}
.stampaPage .page1 .slide3{
	background-size: 100% auto;
    background-position: center center;
}


.news_red {
    position: absolute;
	left:50%;
    bottom: 0;
    height: 100%;
    width: 50%;
}
.redBg{
	left:50%;
	height:100% !important;
}
.page1 .slide4{
    background-image: url("../_slice/landscape/bg4.jpg");
}
.page1 .slide5{
    background-image: url("../_slice/landscape/bg5.jpg");
}
.page1 .slide6{
    background-image: url("../_slice/landscape/bg6.jpg");
}
.page1 .slide7{
    background-image: url("../_slice/landscape/bg7.jpg");
}
.page1 .slide8{
    background-image: url("../_slice/landscape/bg8.jpg");
}

.page2 .slide1{
    background-image: url("../_slice/landscape/chisiamo_01.jpg");
}
.page2 .slide2{
    background-image: url("../_slice/landscape/chisiamo_02.jpg");
}
.page2 .slide3{
    background-image: url("../_slice/landscape/chisiamo_03.jpg");
}
.page2 .slide4{
    background-image: url("../_slice/landscape/chisiamo_04.jpg");
}
.page2 .slide5{
    background-image: url("../_slice/landscape/chisiamo_05.jpg");
}
.page2 .slide6{
    background-image: url("../_slice/landscape/chisiamo_06.jpg");
}
.page2 .slide7{
    background-image: url("../_slice/landscape/chisiamo_07.jpg");
}
.page2 .slide8{
    background-image: url("../_slice/landscape/chisiamo_08.jpg");
}


.page3 .slide1{
    background-image: url("../_slice/landscape/3_1.jpg");
}
.page3 .slide2{
    background-image: url("../_slice/landscape/3_2.jpg");
}
.page3 .slide3{
    background-image: url("../_slice/landscape/3_3.jpg");
}
.page3 .slide4{
    background-image: url("../_slice/landscape/3_4.jpg");
}
.page3 .slide5{
    background-image: url("../_slice/landscape/3_5.jpg");
}
.page3 .slide6{
    background-image: url("../_slice/landscape/3_6.jpg");
}
.page3 .slide7{
    background-image: url("../_slice/landscape/3_7.jpg");
}
.page3 .slide8{
    background-image: url("../_slice/landscape/3_8.jpg");
}
.page3 .slide9{
    background-image: url("../_slice/landscape/3_9.jpg");
}
.page3 .slide10{
    background-image: url("../_slice/landscape/3_10.jpg");
}

.page4 .slide1{
    background-image: url("../_slice/landscape/4_1.jpg");
}
.page4 .slide2{
    background-image: url("../_slice/landscape/4_2.jpg");
}
.page4 .slide3{
    background-image: url("../_slice/landscape/4_3.jpg");
}
.page4 .slide4{
    background-image: url("../_slice/landscape/4_4.jpg");
}
.page4 .slide5{
    background-image: url("../_slice/landscape/4_5.jpg");
}

.page5 .slide1{
    background-image: url("../_slice/landscape/5_1.jpg");
}
.page5 .slide2{
    background-image: url("../_slice/landscape/5_2.jpg");
}
/*.page5 .slide3{
    background-image: url("../_slice/landscape/5_3.jpg");
}*/
.page5 .slide3{
    background-image: url("../_slice/landscape/5_4.jpg");
}
/*.page5 .slide5{
    background-image: url("../_slice/landscape/5_5.jpg");
}*/
.page5 .slide4{
    background-image: url("../_slice/landscape/5_6.jpg");
}
.page5 .slide5{
    background-image: url("../_slice/landscape/5_7.jpg");
}

.page6 .slide1{
    background-image: url("../_slice/landscape/6_1.jpg");
}
.page6 .slide3{
    background-image: url("../_slice/landscape/6_3.jpg");
}
.page6 .slide4{
    background-image: url("../_slice/landscape/6_4.jpg");
}

.page7 .slide1{
    background-image: url("../_slice/landscape/7_1.jpg");
}
.page7 .slide2{
    background-image: url("../_slice/landscape/7_2.jpg");
}
.page7 .slide3{
    background-image: url("../_slice/landscape/7_3.jpg");
}
.page7 .slide4{
    background-image: url("../_slice/landscape/7_4.jpg");
}
.page7 .slide5{
    background-image: url("../_slice/landscape/7_5.jpg");
}




.slide1 .pageCnt .go {
    top: 45%;
}
.slide1 .pageCnt .view {
    top: 45%;
}
.slide2 .pageCnt{
    top: 30%;
}
.slide4 .pageCnt,.slide5 .pageCnt,.slide6 .pageCnt,.slide7 .pageCnt,.slide8 .pageCnt{
    top: 30%;
}
.page2 .pageCnt,.page3 .pageCnt,.page4 .pageCnt,.page5 .pageCnt,.page6 .pageCnt,.page7 .pageCnt{
    top: 30%;
}
.page3 .slide9 .pageCnt{
    top: 30%;
}

.page1 .slide4 .pageCnt .txt {
	padding:0 45px 50px 0;
}
.page1 .slide5 .pageCnt .txt {
	padding:0 45px 50px 0;
}
.page1 .slide6 .pageCnt .txt {
	padding:0 45px 50px 0;
}
.page1 .slide7 .pageCnt .txt {
	padding:0 45px 50px 0;
}
.page1 .slide8 .pageCnt .txt {
	padding:0 45px 50px 0;
}
.page2 .slide5 .pageCnt .txt {
	padding:0 45px 50px 0;
}
.page2 .slide6 .pageCnt .txt {
	padding:0 45px 50px 0;
}

.page2 .slide2 .pageCnt .txt{
	padding-bottom:5px;
}

.page2 .slide3 .pageCnt .txt{
	padding-bottom:5px;
}

.page2 .slide4 .pageCnt .txt{
	padding-bottom:5px;
}

.page2 .slide7 .pageCnt .txt{
	padding-bottom:5px;
}

.page2 .slide8 .pageCnt .txt{
	padding-bottom:5px;
}
.page3 .slide2 .pageCnt .txt{
	padding-bottom:5px;
}

.page3 .slide3 .pageCnt .txt{
	padding-bottom:5px;
}

.page3 .slide4 .pageCnt .txt{
	padding-bottom:5px;
}

.page3 .slide5 .pageCnt .txt{
	padding-bottom:5px;
}

.page3 .slide6 .pageCnt .txt{
	padding-bottom:5px;
}

.page3 .slide7 .pageCnt .txt{
	padding-bottom:5px;
}

.page3 .slide8 .pageCnt .txt{
	padding-bottom:5px;
}

.page3 .slide9 .pageCnt .txt{
	padding-bottom:5px;
}

.page3 .slide10 .pageCnt .txt{
	padding-bottom:5px;
}
.page4 .slide2 .pageCnt .txt{
	padding-bottom:5px;
}

.page4 .slide3 .pageCnt .txt{
	padding-bottom:5px;
}

.page4 .slide4 .pageCnt .txt{
	padding-bottom:5px;
}

.page4 .slide5 .pageCnt .txt{
	padding-bottom:5px;
}
.page5 .slide2 .pageCnt .txt{
	padding-bottom:5px;
}

/*.page5 .slide3 .pageCnt .txt{
	padding-bottom:5px;
}*/

.page5 .slide3 .pageCnt .txt{
	padding-bottom:5px;
}

/*.page5 .slide5 .pageCnt .txt{
	padding-bottom:5px;
}*/

.page5 .slide4 .pageCnt .txt{
	padding-bottom:5px;
}

.page5 .slide5 .pageCnt .txt{
	padding-bottom:5px;
}
.page6 .slide3 .pageCnt .txt{
	padding-bottom:5px;
}
.page6 .slide4 .pageCnt .txt{
	padding-bottom:5px;
}
.page7 .slide2 .pageCnt .txt{
	padding-bottom:5px;
}
.page7 .slide3 .pageCnt .txt{
	padding-bottom:5px;
}
.page7 .slide4 .pageCnt .txt{
	padding-bottom:5px;
}
.page7 .slide5 .pageCnt .txt{
	padding-bottom:5px;
}
.page1 .slide3 .pageCnt h3 {
    margin-top: 20%;
    margin-bottom: 3%;
}
.page6 .slide2 .pageCnt h3 {
    margin-top: 20%;
    margin-bottom: 3%;
}
.newsItem{
	padding:10px 0 45px;
}
.page1 .slide3 .first .view {
    bottom: -13px;
}
.page6 .slide2 .first .view {
    bottom: -13px;
}
.news_red .newsItem {
    padding: 3px 0 28px;
    margin-top: 50px;
    margin-bottom: 0;
}
ul.fooB {
    margin: 0 0 5px 0;
}
ul.fooB li{
    margin: 0;
}
.footerCnt .followUs{
	margin:-5% 0 0 0;
}
.interna .footerCnt .followUs{
	margin:5px 0 0 0;
}
#mn .footerCnt .followUs{
	margin:5px 0 0 0;
}

.interna .footerCnt .followUs span{ line-height:30px;}
.home-link,.itemsMenu ul li a{
	font-size:16px;
}
.itemsMenu{ top:25%;}
.home-link {
    top: 25%;
	z-index:2;
}
.itemsMenu ul li:first-child {
    margin-left: 50%;
}
.menuCnt .followUs{margin:0;}
.menuCnt .footerMenu{ bottom:15% !important;}
.page1 .slide7 .pageCnt .txt p {
    width: 370px;
}
.backBtn {
	margin-left:-7.5%;
}
.bgBlack {
    clear: both;
    float: left;
    height: 94%;
    margin: 0;
    padding: 0 6%;
    width: 84%;
    background: rgba(0, 0, 0, 0.2);
    margin: 2%;
}
.medicoPage .page1 .slide1{
    background-image: url("../_slice/landscape/medico1.jpg");
}
.medicoPage .page1 .slide2{
    background-image: url("../_slice/landscape/medico2.jpg");
}
.medicoPage .page1 .slide3{
    background-image: url("../_slice/landscape/medico3.jpg");
}
.medicoPage .page1 .slide4{
    background-image: url("../_slice/landscape/medico4.jpg");
}
.medicoPage .page1 .slide5{
    background-image: url("../_slice/landscape/medico5.jpg");
}
.medicoPage .page1 .slide6{
    background-image: url("../_slice/landscape/medico6.jpg");
}
.partnerPage .page1 .slide1{
    background-image: url("../_slice/landscape/partner1.jpg");
}
.partnerPage .page1 .slide2{
    background-image: url("../_slice/landscape/partner2.jpg");
}
.partnerPage .page1 .slide3{
    background-image: url("../_slice/landscape/partner3.jpg");
}
.partnerPage .page1 .slide4{
    background-image: url("../_slice/landscape/partner4.jpg");
}
.partnerPage .page1 .slide5{
    background-image: url("../_slice/landscape/partner5.jpg");
}
.stampaPage .page1 .slide1{
    background-image: url("../_slice/landscape/stampa1.jpg");
}
.stampaPage .page1 .slide2{
    background-image: url("../_slice/landscape/stampa2.jpg");
}
.stampaPage .page1 .slide3{
    background-image: url("../_slice/landscape/stampa3.jpg");
}
.stampaPage .page1 .slide4{
    background-image: url("../_slice/landscape/stampa4.jpg");
}
.stampaPage .page1 .slide5{
    background-image: url("../_slice/landscape/stampa5.jpg");
}
.itemsMenu ul li {
    clear: none;
    width: 50%;
}
body .dResArea {
    bottom: 20%;
    left: 3%;
	width:100%;
}
.tools {
    margin: -16px 0 0 0;
    margin: -23px 0 0 0;
}
.loginBox select {
    height: 30px;
    line-height: 30px;
    margin: 0 15%;
}
a.closeSea {
    height: 30px;
    line-height: 30px;
    margin: 0 15% 10px;
    font-size: 11px;
}
.psswDim {
    margin: 0px 10% !important;
	padding:0 !important;
	width:80% !important;
	float:left;
	clear:both;
}
body .send-archivio a {
    height: 75px;
}
body .send-archivio a span{
    line-height: 48px;
	font-size:18px !important;
}
.loginBox .psswDim {
    margin: 0px !important;
    padding: 0px 10% !important;
	font-size:11px !important;
	background:#e62139 !important;
}
.menuCnt .copyright{ font-size:11px;}
.menuCnt .followUs span{ font-size:11px;}
.swiper-container-horizontal>.swiper-pagination {
    top: auto;
}
.boxTopStorie{
	margin:3% 3%;
	padding:37% 5% 3% 5%;
	width: 84%;	
}
.boxTopPad{
	margin:3% 3%;
	padding:3% 5%;
	width: 84%;	
}
.boxTopNormal{
	margin:3% 3%;
    padding: 15% 5% 3%;
	width: 84%;	
}
.allPage h2#pagTit{
	left:8% !important;
}
.boxTopNormal h2#pagTit{
    position: relative !important;
    left: auto !important;
    top: auto !important;
    padding-bottom: 7% !important;
}
.allPage .boxTopNormal h2#pagTit{
    position: relative !important;
    left: auto !important;
    top: auto !important;
    padding-bottom: 7% !important;
}


/*
.contManagerTop{
	height:218px;
}
.contStorieTop{
	height:219px;
}
.contStorie{
	height:142px;
}
.contSede{
	height:142px;
}
.contSedeTop{
	height:218px;
}*/
.imgNews{
    margin: 0 6.5% 0 -6.5%;
    width: 53.5%;
    max-width: 53.5%;
	float:left;
}
.imgPipeline{
    margin: 0 -3%;
    width: 106%;
    max-width: 112%;
}

.interna .allPageContent .newsItem .date{
    float: left;
    clear: none;
    width: 46%;
    margin: 0 !important;
    padding: 0;
	font-size:16px;
}
.interna .allPageContent .newsItem h3{
    float: left;
    clear: none;
    width: 46%;
    margin: 10px 0;
    padding: 0;
}
.interna .allPageContent .newsItem p {
    float: left;
    clear: none;
    width: 46%;
    margin: 0 0 10px 0;
    padding: 0;
}
.interna .allPageContent .newsItem .view {
    float: left;
    clear: none;
    margin: 0;
    padding: 0;
}
.footerCnt .copyright {
    font-size:12px !important;
	width:100%;
}
.menuCnt .copyright {
    width: 100%;
}
.greyBox {
    padding: 22% 5% 5% 5% !important;
}
h2.titleNews {
	left:8% !important;
	top:7% !important;
}
body .newsCnt {
    padding: 5% 5% 5% 5% !important;
}






.interna .allPageContent .pubbItem .date{
    width: 100%;
}
.interna .allPageContent .pubbItem h3{
    width: 100%;
}
.interna .allPageContent .pubbItem p {
    width: 100%;
}
h2.titlePubb {
    top: 5% !important;
}
.loginBox {
    height: 62%;
}


.menu {
    position: fixed;
	top:17px;
	top:10px;
}
.prev{
    position: fixed;
	bottom: 25%;
	right:8%;
}
.next{
    position: fixed;
	bottom: 5%;
	right:8%;
}
.pageCnt .pageBox{
	top:42%;
}
.page1 h1{
	top:27%;
}
.page1 .slide2 .pageCnt{
	top:25%;
}
.onePage .footerCnt {
    top: 25%;
}
ul.fooB li{ line-height:16px;}
.page1 .slide2 .pageCnt h3{ margin-bottom:5px;}
.partnerPage .page1 .slide2 .pageCnt h3{ margin-bottom:20px;}
.stampaPage .page1 .slide2 .pageCnt h3{ margin-bottom:20px;}
.medicoPage .page1 .slide2 .pageCnt h3{ margin-bottom:20px;}

.page1 .slide2 .pageCnt .txt{ padding-top:5px;}
.page6 .slide2 .newsItem {
    padding: 25px 0 0;
}
.menuBox{ position:fixed;}
.backBtn{ position:fixed; top:17px; top:10px;	
}
.menuCnt{ margin-top:1%;}
.greyBox{ margin-top:1%;}
.boxTopNormal{ margin-top:1%;}
.boxTopStorie{ margin-top:1%;}
.boxTopPad{ margin-top:1%;}
div.supHinMCC{ height:240px !important;}
.interna .allPageContent p.supHinMCC{ margin-top:40px !important; width:100% !important; font-size:14px !important;}
.interna .allPageContent p.supHinMCC br{
	display:block !important;
}
#form_doccheckPress a.btn {
    line-height: 34px !important;
}
body .dResArea a {
    margin: 0 2% 0 0;
	font-size:16px;
    width: 31%;
}
body .dResArea {
    bottom: 29%;
}
iframe#FrameDocCheck{
	top:auto !important;
}
.noSpace{ padding-top:5% !important;}
.page1 .slide3 .newsItem .view {
    bottom: -30px;
}

.slidingPans{
	padding:0 !important;
}
.slidingPans p{
	margin:0 !important;
}

.flag_2{
	margin-top:10px !important;
}
.flag_3{
	margin-top:10px !important;
}
body .addthis_toolbox {
    padding: 0 0 5% 0 !important;
}

#form_doccheckPress a.btn {
    line-height: 34px !important;
}





}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) { 
#panel1{ position:absolute;}
#panel2{ position:absolute;}

.menu {
    position: absolute;
}
.prev{
    position: absolute;
}
.next{
    position: absolute;
}
.menuBox{ position:absolute;}
.backBtn{ position:absolute;}
body{
	-webkit-transform:scale(1);
}
.interna .allPageContent p.supHinMCC{ margin-top:80px !important; width:100% !important; font-size:14px !important;}

}