﻿/* la Copertina è fuori da dDetails perché dDetails viene posto alla sinistra del box dei contenuti correlati */
.dContent .cover {
	margin:5px 0 10px 0;
}	

.dArchive .item .title {
	margin:0;
	font-size:16px;							
}

.dDetails {
	float:left;
	width:555px;			
}

	.dDetails .subtitle {
		font:italic 10px Verdana;
	}


/* ------- STILE COMUNE -------------*/
.tblSubtitle {
	margin-bottom:15px;
}

	.tblSubtitle .tdLogo {
		width:1px;
		vertical-align:middle;
		padding:0 25px;
	}
			
	.tblSubtitle .tdText {
		font:bold 17px Arial;
		color:#909090;
		line-height:1.3em;
	}
	
	.tblSubtitle .tdText .orange, 
	.tblSubtitle .tdText strong {
		color:#555;
	}
	
