﻿			.dDetails .subtitle {
				font:italic 10px Verdana;
			}
			
			.ulSiteMap a,
			.ulSiteMap a:visited, 
			.ulSiteMap a:hover {
				font-weight:normal;
				color:black;
				text-decoration:underline;
			}
			
			.ulSiteMap,
			.ulSiteMap ul {
				list-style-type:square;
				margin-left:20px;
			}
			
			.ulSiteMap .ulMenu {
				
			}
			
			.ulSiteMap .liThemeLev1 {
				margin:0 0 15px 0;		 	
			}
			
			.ulSiteMap .liThemeLev1  {
				font-size:120%;
				font-weight:bold;	
				
			}
			
				.ulSiteMap .liThemeLev2  {
					font-size:75%;				
					font-weight:normal;				
				}
			
		
		

     