﻿.dContent .error {
	margin:0 0 10px 0;
}

.dContent .item {
	margin:20px 0;
}

.dContent .item .highlight {
	margin:10px 0 0 20px;			
}


.dContent .item img {
	margin:0 10px 10px 0;
}
	
		

			
		
		

     