﻿		.dDetails .date {			
			font-weight:bold;
			margin-bottom:20px;			
		}

		.dDetails .subtitle {
			font:italic 10px Verdana;
		}
		
		.dArchive .item {
			padding:20px 0 0 0; margin:20px 0 0 0;			
		}		
		
			.dArchive .item .title {
				margin:0;
				font-size:16px;							
			}

			.dArchive .item .date {			
				margin:0 0 15px 0;
				
				font-style:italic; font-size:10px;										
			}
			
			
			.dArchive .separator {
				border-bottom:1px dotted #9C9A9C;
				margin:35px 0 15px 0;
			}

			
			.dLatestNewsBox {				
				float:right;
				
				width:197px;
				margin:0 0 15px 15px;
				position:relative; top:0; right:-20px;	
				
				font-size:11px;
				color:#666;				
				
				border-bottom:7px solid #FF6600;
			}
			
				.dLatestNewsBox .header {		
					height:28px; 
					background:url(../../_slice/title/latest_news.gif) 0 0 no-repeat;
				}

				.dLatestNewsBox ul.body {	
					margin:0 0 0 0; margin:0 0 0 0; padding:5px 3px 5px 15px;
					list-style-type:square;					
				}
				
				.dLatestNewsBox li {	
					margin:0 0 3px 10px; 
				}				
				
				.dLatestNewsBox a,
				.dLatestNewsBox a:visited {
					font-weight:normal;
					text-decoration:none;
					color:#666;		
				}
				
				.dLatestNewsBox a.strong,
				.dLatestNewsBox a:hover.strong {
					font-weight:bold;
				}
				
				.dLatestNewsBox a:hover {
					text-decoration:underline;
					color:#666;		
					font-weight:normal;
				}
				
				.dLatestNewsBox .aArchiveLink {
					display:block;
					margin:0 0 5px 23px;					
				}
				
			

     