<%@ Control Language="VB" ClassName="CommonScriptManager" Inherits="Healthware.HP3.PresentationLayer.Share.ControlShare"%>

<script runat="server">
   
</script>
<asp:ScriptManager ID="pageSM" runat="server" />


 