<%--<%@ Page Language="VB" Inherits="Telerik.GridExamplesCSharp.Programming.WebGrid.DefaultCS" %>--%>
<%@ Page Language="VB" Inherits="Healthware.HP3.PresentationLayer.Share.PageShare"%>
<%@ Import Namespace="Healthware.HP3.Core.Utility"%>
<%@ Import Namespace="Healthware.HP3.Core.Site"%>
<%@ Import Namespace="Healthware.HP3.Core.Site.ObjectValues"%>
<%@ Import Namespace="Healthware.HP3.Core.User"%>
<%@ Import Namespace="Healthware.HP3.Core.User.ObjectValues"%>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>


<script type="text/VB">

</script>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="Head1" runat="server">
        <title>Users List</title>
       <!-- custom head section -->
        <!-- end of custom head section -->
    </head>
    <body>
        <form id="mainForm" runat="server" style="width: 100%">
           <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
            <!-- content start -->
            <div class="module" style="height: 55px; width: 94%;">
                Select Edit mode:
                    <asp:RadioButtonList ID="RadioButtonList1" AutoPostBack="True"runat="server" OnSelectedIndexChanged="RadioButtonList1_SelectedIndexChanged">
                    <asp:ListItem Text="In-forms editing mode" Value="EditForms" Selected="True"></asp:ListItem>
                    <asp:ListItem Text="In-line editing mode" Value="InPlace"></asp:ListItem>
                </asp:RadioButtonList>
            </div>
            <br/>
            <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
                <AjaxSettings>
                    <telerik:AjaxSetting AjaxControlID="RadGrid1">
                        <UpdatedControls>
                            <telerik:AjaxUpdatedControl ControlID="RadGrid1" LoadingPanelID="RadAjaxLoadingPanel1"/>
                        </UpdatedControls>
                    </telerik:AjaxSetting>
                    <telerik:AjaxSetting AjaxControlID="RadioButtonList1">
                        <UpdatedControls>
                            <telerik:AjaxUpdatedControl ControlID="RadGrid1" LoadingPanelID="RadAjaxLoadingPanel1"/>
                            <telerik:AjaxUpdatedControl ControlID="RadioButtonList1" />
                        </UpdatedControls>
                    </telerik:AjaxSetting>
                </AjaxSettings>
            </telerik:RadAjaxManager>
            <telerik:RadAjaxLoadingPanel ID="RadAjaxLoadingPanel1" runat="server" Height="75px" Width="75px" Transparency="50">
                <img alt="Loading..." src='<%= RadAjaxLoadingPanel.GetWebResourceUrl(Page, "Telerik.Web.UI.Skins.Default.Ajax.loading.gif") %>' style="border:0;" />
            </telerik:RadAjaxLoadingPanel>
            <telerik:RadGrid ID="RadGrid1" AllowMultiRowSelection="true" AllowMultiRowEdit="true"
                Skin="WebBlue" runat="server" AllowAutomaticDeletes="True" AllowAutomaticInserts="True"
                Width="97%" PageSize="14" AllowAutomaticUpdates="True" AllowPaging="True" AutoGenerateColumns="False"
                DataSourceID="SessionDataSource1" ShowStatusBar="true" OnItemCreated="RadGrid1_ItemCreated" AutoGenerateEditColumn="true" AutoGenerateDeleteColumn="true">
                <PagerStyle Mode="Slider" />
                <ClientSettings>
                    <Selecting AllowRowSelect="true" />
                </ClientSettings>
                <MasterTableView CommandItemDisplay="Top" DataKeyNames="ProductID" DataSourceID="SessionDataSource1"
                    EditMode="EditForms" AutoGenerateColumns="False" Width="100%">
                    <CommandItemTemplate>
                        <div style="padding:10px 0px;">
                        Custom command item template &nbsp;
                        <asp:LinkButton Style="vertical-align: bottom" ID="btnEditSelected" runat="server"CommandName="EditSelected" CausesValidation="false" Visible='<%# RadGrid1.EditIndexes.Count == 0 %>'><img style="border:0px;vertical-align:middle;" alt="" src="~/hp3Office/HP3Image/Ico/content_edit.gif" /> Edit Selected Products</asp:LinkButton>
                        <asp:LinkButton ID="btnUpdateEdited" runat="server" CommandName="UpdateEdited" Visible='<%# RadGrid1.EditIndexes.Count > 0 %>'><img style="border:0px;vertical-align:middle;" alt="" src="~/hp3Office/HP3Image/Button/save_content.gif" /> Update Products</asp:LinkButton>
                        &nbsp;
                        <asp:LinkButton ID="btnCancel" runat="server" CommandName="CancelAll" CausesValidation="false" Visible='<%# RadGrid1.EditIndexes.Count > 0 || RadGrid1.MasterTableView.IsItemInserted %>'><img style="border:0px;vertical-align:middle;" alt="" src="~/hp3Office/HP3Image/ico/content_delete.gif" /> Cancel editing</asp:LinkButton>
                        &nbsp;
                        <asp:LinkButton ID="LinkButton2" runat="server" CommandName="InitInsert" Visible='<%# !RadGrid1.MasterTableView.IsItemInserted %>'><img style="border:0px;vertical-align:middle;" alt="" src="~/hp3Office/HP3Image/ico/content_add.gif" /> Add new Product</asp:LinkButton>
                        <asp:LinkButton ID="LinkButton3" runat="server" CommandName="PerformInsert" Visible='<%# RadGrid1.MasterTableView.IsItemInserted %>'><img style="border:0px;vertical-align:middle;" alt="" src="~/hp3Office/HP3Image/ico/content_add.gif" /> Add this Product</asp:LinkButton>
                        &nbsp;
                        <asp:LinkButton ID="LinkButton1" OnClientClick="javascript:return confirm('Delete all selected Products?')"runat="server" CommandName="DeleteSelected" CausesValidation="false"><img style="border:0px;vertical-align:middle;" alt="" src="~/hp3Office/HP3Image/ico/content_delete.gif" /> Delete Selected Products</asp:LinkButton>
                        &nbsp;&nbsp;&nbsp;
                        <asp:LinkButton ID="LinkButton4" runat="server" CommandName="RebindGrid"><img style="border:0px;vertical-align:middle;" alt="" src="~/hp3Office/HP3Image/ico/content_active.gif" /> Refresh Products</asp:LinkButton>
                        </div>
                    </CommandItemTemplate>
                    <Columns>
                        <telerik:GridClientSelectColumn HeaderStyle-Width="40px" />
                        <telerik:GridBoundColumn DataField="ProductID" HeaderText="ID" ReadOnly="True" SortExpression="ProductID"
                            UniqueName="ProductID" Visible="false">
                            <HeaderStyle Width="20px" ForeColor="Silver" />
                            <ItemStyle ForeColor="Silver" />
                        </telerik:GridBoundColumn>
                        <telerik:GridBoundColumn DataField="ProductName" HeaderText="ProductName" SortExpression="ProductName"
                            UniqueName="ProductName">
                        </telerik:GridBoundColumn>
                        <telerik:GridDropDownColumn DataField="CategoryID" DataSourceID="SqlDataSource1"
                            HeaderText="Category" ListTextField="CategoryName" ListValueField="CategoryID"
                            UniqueName="CAtegoryID">
                        </telerik:GridDropDownColumn>
                        <telerik:GridBoundColumn DataField="UnitsInStock" HeaderText="Units In Stock" SortExpression="UnitsInStock"
                            UniqueName="UnitsInStock">
                            <HeaderStyle Width="50px" />
                        </telerik:GridBoundColumn>
                        <telerik:GridBoundColumn DataField="QuantityPerUnit" HeaderText="Quantity Per Unit"
                            SortExpression="QuantityPerUnit" UniqueName="QuantityPerUnit" Visible="false"
                            EditFormColumnIndex="1">
                        </telerik:GridBoundColumn>
                        <telerik:GridCheckBoxColumn DataField="Discontinued" HeaderText="Discontinued" SortExpression="Discontinued"
                            UniqueName="Discontinued" EditFormColumnIndex="1">
                            <HeaderStyle Width="50px" />
                        </telerik:GridCheckBoxColumn>
                        <telerik:GridTemplateColumn HeaderText="UnitPrice" SortExpression="UnitPrice" UniqueName="TemplateColumn"
                            EditFormColumnIndex="1">
                            <HeaderStyle Width="80px" />
                            <ItemTemplate>
                                <asp:Label runat="server" ID="lblUnitPrice" Text='<%# Eval("UnitPrice", "{0:C}") %>'></asp:Label>
                            </ItemTemplate>
                            <EditItemTemplate>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator1"ControlToValidate="tbUnitPrice" ErrorMessage="This field is required!" runat="server">
                                </asp:RequiredFieldValidator>
                                <br/>
                                <asp:TextBox runat="server" ID="tbUnitPrice" Text='<%# Bind("UnitPrice", "{0:#.##}") %>'></asp:TextBox><span
                                style="color: Red">*</span>
                                <asp:RangeValidator ID="RangeValidator1" MinimumValue="1" MaximumValue="1000" Type="Currency"ControlToValidate="tbUnitPrice" ErrorMessage="Number required (1-1000)]!" runat="server">
                                </asp:RangeValidator>
                            </EditItemTemplate>
                        </telerik:GridTemplateColumn>
                    </Columns>
                    <EditFormSettings ColumnNumber="2" CaptionDataField="ProductName" CaptionFormatString="Edit properties of Product {0}">
                        <FormTableItemStyle Wrap="False"></FormTableItemStyle>
                        <FormCaptionStyle CssClass="EditFormHeader"></FormCaptionStyle>
                        <FormMainTableStyle GridLines="Horizontal" CellSpacing="0" CellPadding="3" BackColor="White"
                            Width="100%" />
                        <FormTableStyle CellSpacing="0" CellPadding="2" CssClass="module" Height="110px"
                            BackColor="White" />
                        <FormTableAlternatingItemStyle Wrap="False"></FormTableAlternatingItemStyle>
                        <EditColumn ButtonType="ImageButton"
                            InsertText="Insert Order" UpdateText="Update record" UniqueName="EditCommandColumn1" CancelText="Cancel edit">
                        </EditColumn>
                        <FormTableButtonRowStyle HorizontalAlign="Right" CssClass="EditFormButtonRow"></FormTableButtonRowStyle>
                    </EditFormSettings>
                </MasterTableView>
            </telerik:RadGrid><br />
            <%--<sds:SessionDataSource ID="SessionDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:NorthwindConnectionString %>"
                ProviderName="System.Data.SqlClient"
                SelectCommand="SELECT ProductID, ProductName, CategoryID, UnitsInStock, QuantityPerUnit, Discontinued, UnitPrice FROM [Products]"
                DeleteCommand="DELETE FROM [Products] WHERE [ProductID] = ?" InsertCommand="INSERT INTO Products(ProductName, CategoryID, UnitPrice, UnitsInStock, QuantityPerUnit, Discontinued) VALUES (?, ?, ?, ?, ?, ?)"
                UpdateCommand="UPDATE [Products] SET [ProductName] = ?, [CategoryID] = ?, [QuantityPerUnit] = ?, [UnitPrice] = ?, [UnitsInStock] = ?, [Discontinued] = ? WHERE [ProductID] = ? AND [ProductName] = ? AND [CategoryID] = ? AND [QuantityPerUnit] = ? AND [UnitPrice] = ? AND [UnitsInStock] = ? AND [Discontinued] = ?"
                PrimaryKeyFields="ProductID" OldValuesParameterFormatString="original_{0}"
                ConflictDetection="CompareAllValues">
                <DeleteParameters>
                    <asp:Parameter Name="original_ProductID" Type="Int32" />
                </DeleteParameters>
                <UpdateParameters>
                    <asp:Parameter Name="ProductName" Type="String" />
                    <asp:Parameter Name="CategoryID" Type="Int32" />
                    <asp:Parameter Name="QuantityPerUnit" Type="String" />
                    <asp:Parameter Name="UnitPrice" Type="Decimal" />
                    <asp:Parameter Name="UnitsInStock" Type="Int16" />
                    <asp:Parameter Name="Discontinued" Type="Boolean" />
                    <asp:Parameter Name="original_ProductID" Type="Int32" />
                    <asp:Parameter Name="original_ProductName" Type="String" />
                    <asp:Parameter Name="original_CategoryID" Type="Int32" />
                    <asp:Parameter Name="original_QuantityPerUnit" Type="String" />
                    <asp:Parameter Name="original_UnitPrice" Type="Decimal" />
                    <asp:Parameter Name="original_UnitsInStock" Type="Int16" />
                    <asp:Parameter Name="original_Discontinued" Type="Boolean" />
                </UpdateParameters>
                <InsertParameters>
                    <asp:Parameter Name="ProductName" Type="String" />
                    <asp:Parameter Name="CategoryID" Type="Int32" />
                    <asp:Parameter Name="QuantityPerUnit" Type="String" />
                    <asp:Parameter Name="UnitPrice" Type="Decimal" />
                    <asp:Parameter Name="UnitsInStock" Type="Int16" />
                    <asp:Parameter Name="Discontinued" Type="Boolean" />
                </InsertParameters>
            </sds:SessionDataSource>--%>
            <br />
    <asp:SqlDataSource ID="SqlDataSource1" runat="server"
    ConnectionString="<%$ ConnectionStrings:NorthwindConnectionString %>"
                ProviderName="System.Data.SqlClient"
                SelectCommand="SELECT [CategoryID], [CategoryName] FROM [Categories]"></asp:SqlDataSource>
            <!-- content end -->
        </form>
    </body>
</html>