﻿form {
	margin:0;
	padding:10px;
}

.dTreeContainerBorder {
	border:1px solid #BBB;
	/*padding:1px;*/
	margin-bottom:10px;	
}

.dTreeContainer {
	height:380px;	
	overflow:scroll;
	scrollbar-3dlight-color:White;
	scrollbar-arrow-color:#666666;
	scrollbar-base-color:#EEEEEE;
	scrollbar-darkshadow-color:#999999;
	scrollbar-face-color:#DDDDDD;
	scrollbar-highlight-color:#DDDDDD;
	scrollbar-shadow-color:#DDDDDD;	
	text-align :left;
}

.dGroup {
	margin:0 10px 5px 20px;
}


.dControl input.image, .dControlSelected input.image {	
	vertical-align:middle;			
}

.dControl .imgPlusMinus, .dControlSelected .imgPlusMinus {	
	vertical-align:middle;		
	margin-right:2px;
}

.dControl .itemText, .dControlSelected .itemText {
	padding:1px 3px 1px 1px;
	margin-left:3px;
	border:1px soldi white;	
}


.dControlSelected .itemText {
	border:1px dotted yellow;	
	background-color:#D0D2FE;
}

.addFolderImage
    {
        margin:0 3px 0 4px
    }
    
 .divAddFolder
    {	        		   
	    display:none
    }
 
 
