﻿/* Fa in modo che le etichette del secondo livello nella barra laterale sinistra siano
 evidenziate */
.dNavigationColumn .aThemeLev2,
.dNavigationColumn .aThemeLev2:visited,
.dNavigationColumn .aThemeLev2:hover {
	font-weight:bold;
	cursor:default;
}

.imgProductLogo {
	float:left;
	margin:10 20px;
}