﻿.dContent .dArchive h4.title {
	margin-bottom:10px;	
}

.dArchive .separator {
	border-bottom:1px dotted #9C9A9C;
	margin:35px 0 15px 0;
}

.tblCaseHistory td {
	vertical-align:top;
}

	.tblCaseHistory td.col1, .tblCaseHistory colgroup.col1 {
		width:50%;
		border-right:1px solid #FF6600;
		padding-right:10px;		
	}

	.tblCaseHistory td.col2, .tblCaseHistory colgroup.col2 {
		width:50%;
		padding-left:10px;		
	}

.tblProduct td {	
	vertical-align:top;
}

	.tblProduct td.col1, .tblProduct colgroup.col1 {
		padding-right:25px;		
	}
	
	.tblProduct td.col2, .tblProduct colgroup.col2 {
		padding-left:25px;
	}


/*
.dRelatedBox .header {				
	background-image:url(../../_slices/related_box/case_histories/snip_related_box_header.gif);
}
	
.dRelatedBox .body {
	background-image:url(../../_slices/related_box/case_histories/bg_related_box.gif);
}

.dRelatedBox .footer {		
	background-image:url(../../_slices/related_box/case_histories/snip_related_box_footer.gif);
}
*/