﻿.dMain {
	float:left;
	
	width:634px;
	padding-top:30px;
}


.sepDotted1 {	
	margin:2px 0 10px 0;
}

/* ----------------- INIZIO TOP ----------------- */	
.dTopBox {	
	padding:0 14px 12px 0;
}

.dTopBox a.title {
	display:block;
	margin:15px 0 3px 0; 
	
	color:#1DAADF;
	
	font-size:14px;	font-weight: bold; font-family:Arial;	
}

.dTopBox p {
	color:#666;	
}
/* ----------------- FINE TOP ----------------- */	


/* ----------------- INIZIO MIDDLE ----------------- */	
.dMiddleBox {
	margin-top:15px;
	font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:11px;	
}

	.dMiddleBox p {
		line-height:14px;
	}

	.dProductsAndServicesBox,
	.dSolutionsBox {
		float:left;	
	}

	.dProductsAndServicesBox,
	.dSolutionsBox {
		width:310px; 		
	}
	
		.dSolutionsBox .header {
			border-left:1px solid White;
		}


		.dProductsAndServicesBox .header,
		.dSolutionsBox .header {
			background-color:#959595;
			color:White;			
			font:bold 14px Arial, Verdana;	/* era Chicago */
			padding:4px 10px;
			margin:0 0 15px 0;
		}

		.dProductsAndServicesBox .subbox,
		.dSolutionsBox .subbox {
			padding:0 10px;
		}
		
		.dProductsAndServicesBox a img {
			float:left;
			margin:0 10px 5px 0;
		}
		

		.dSolutionsBox .subbox {		
			border:solid #D2D2D4;
			border-width:0 1px;	
		}

			.dProductsAndServicesBox .title,
			.dSolutionsBox .title {
				color:#1DAADF;
				margin-bottom:2px;
			}

			.dProductsAndServicesBox p,
			.dSolutionsBox  p{
				margin-bottom:12px;
			}
			
				
/* ----------------- FINE MIDDLE ----------------- */			


/* ----------------- INIZIO COLONNA (CONTENITORE DI PRIMI DUE BOX E NEWSCENTER) ----------------- */			
.dColumn {
	float:right;
	width:304px;	
	margin:20px 0 0 15px;		
	font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:11px;
}

	.dColumn p {
		line-height:14px;
	}
/* ----------------- FINE COLONNA ----------------- */



/* ----------------- INIZIO BOX LATERALI ----------------- */
.dQuickStartBox {
	width:214px; height:80px;
	padding:10px 100px 0 0px;
	background:url(../../_slice/background/quick_start_box.gif) 0 0px no-repeat;		
}

	.dQuickStartBox div.title {		
		color:#575757;
		font:bold 16px Arial;
	}


.dCampaignBox {
	width:300px; height:133px;	
	padding:4px 0px 0 0px;
		
	margin-bottom:5px;
}	

	.dCampaignBox img {
		float:left;
		margin:0 10px 5px 0;
	}

	.dCampaignBox .text {		
		margin:20px 0 0 0;
		font-size:18px;
		/*font-weight:bold;*/
	}
	
	.dCampaignBox .btnGo {	
		margin-left:140px;
	}

/* ----------------- FINE BOX LATERALI ----------------- */	

/* ----------------- INIZIO COLONNA NEWS CENTER ----------------- */
	.dNewsCenter div.header {
		background-color:#FF6600;
		color:White;
		font:bold 14px Arial, Verdana; /* era Chicago */
		padding:4px 10px;
		margin:0px 0 5px 0;
	}

	.dNewsCenter a.title,
	.dNewsCenter a.title:visited,
	.dNewsCenter a.title:hover,
	.dNewsCenter a.title:link {
		color:#FF6600;
		margin-bottom:2px;
		text-decoration:underline;
	}

	.dNewsCenter p {	
		margin:0 0 10px 0;
	}

	.dNewsCenter .subbox {	
		margin:0 5px;
	}
/* ----------------- FINE COLONNA NEW CENTER ----------------- */


/* ----------------- INIZIO BOX FOOTER ----------------- */
.dFooterBoxesContainer {
	margin-top:-10px;
	padding-top:10px;
	border-top:1px solid #D2D2D4;
}

.dLoginBox {
	float:left;
	
	width:299px; height:143px;	
	padding:0 0 0 5px;
		
	background:url(../../_slice/background/login_box.gif) 0 58px no-repeat;		
	margin-bottom:5px;
}

	.dLoginBox .label {
		font-weight:bold;
		padding:3px 5px 0 0;
		vertical-align:middle;
	}
	
	.dLoginBox .txtUsername,
	.dLoginBox .txtPassword {		
		width:110px;
		margin-top:5px;
	}
	
	.dLoginBox a {
		display:block;
		margin-top:4px;
	}

	.dLoginBox div.title {
		color:#575757;
		font:bold 16px Arial;
	}
	
	.dLogout {
		width:200px;
	}
	
	.dLoginBox .btnSend {
		margin-left:124px;
	}	
	
.dSamplesBox {
	float:left;
	
	width:209px; height:143px;
	padding:0 80px 0 15px;
		
	background:url(../../_slice/background/samples_box.gif) 0 58px no-repeat;		
	margin:0 5px 0 20px;
}

	.dSamplesBox .txtSample {		
		width:160px;		
		margin:5px 0 0 -20px;
	}

	.dSamplesBox div.title {
		color:#575757;
		font:bold 16px Arial;
	}
	
	.dSamplesBox .btnSend {
		margin-left:109px;
	}	
	
.dNewsletterBox {
	float:left;
	
	width:290px; height:143px;
	padding-left:14px;
		
	background:url(../../_slice/background/newsletter_box.gif) 0 58px no-repeat;		
	margin:0px 10px 0 16px;	
}

	.dNewsletterBox .txtNewsletter {		
		width:160px;
		margin:5px 0 0 -13px;
	}

	.dNewsletterBox div.title {
		color:#575757;
		font:bold 16px Arial;
	}
	
	.dNewsletterBox .btnSend {
		margin-left:112px;
	}			
/* ----------------- FINE BOX FOOTER ----------------- */


/* BACKUP */
/*.dText {
	margin-bottom:20px;
}

	.dText div.title {		
		color:#575757;
		font:bold 16px Arial;
	}*/
	
/*			
	.dPaginemedicheBox {
		border:solid #D2D2D4;
		border-width:1px 0px;	
		padding:10px 0; margin:15px 0 0 0;
	}
	
		.dPaginemedicheBox a,
		.dPaginemedicheBox a:visited, 
		.dPaginemedicheBox a:hover {
			color:#FE7E01;		
		}

		.dPaginemedicheBox img {
			float:left;
			margin:0 5px 5px 0;
		}
*/

