﻿@charset "utf-8";
/* CSS Document */

.soluzioni .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	height: 323px;
	background: url('../_slice/soluzioni.jpg') no-repeat center top fixed;
}
.giornalista .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	height: 323px;
	background: url('../_slice/giornalista.jpg') no-repeat center top fixed;
}
.soluzioni .item1{
	height: 562px;
	background: url('../_slice/appResp.jpg') no-repeat center top fixed;
}
.soluzioni .item2{
	height: 557px;
	background: url('../_slice/malaRare.jpg') no-repeat center top fixed;
}
.soluzioni .item3{
	height: 560px;
	background: url('../_slice/malaOste.jpg') no-repeat center top fixed;
}
.soluzioni .item4{
	height: 561px;
	background: url('../_slice/automed.jpg') no-repeat center bottom fixed;
}
.soluzioni .item4 h3{
	color:#fff;
}
.soluzioni .item4 h4{
	color:#fff;
}

.soluzioni .item2 h3{
	color:#fff;
}
.soluzioni .item2 h4{
	color:#fff;
}


.lavorare .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	height: 323px;
	background: url('../_slice/lavorare.jpg') no-repeat center top fixed;
}
.lavorare .item1{
	height: 562px;
	background: url('../_slice/lavorare1.jpg') no-repeat center top fixed;
}
.lavorare .item2{
	height: 557px;
	background: url('../_slice/lavorare2.jpg') no-repeat center top fixed;
}
.lavorare .item3{
	height: 560px;
	background: url('../_slice/lavorare3.jpg') no-repeat center top fixed;
}
.lavorare .item4{
	height: 561px;
	background: url('../_slice/lavorare4.jpg') no-repeat center bottom fixed;
}
.lavorare .item1 p{
	color:#30302a;
}
.lavorare .box-container{
	color:#fff;
}
.lavorare .box-container h3{
	color:#fff;
}
.lavorare .item4 h3{
	color:#fff;
}
.lavorare .item4 h4{
	color:#fff;
}
.lavorare .item2 h4{
	color:#fff;
}
.lavorare .item3 h4{
    color: #FFFFFF;
}
.responsabilita .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	height: 323px;
	background: url('../_slice/responsabilita.jpg') no-repeat center top fixed;
}
.responsabilita .titleSection h2{
}
.responsabilita .titleSection h1{
	color:#30302a;
}
.responsabilita .item1{
	height: 562px;
	background: url('../_slice/responsabilita1.jpg') no-repeat center top fixed;
}
.responsabilita .item2{
	height: 557px;
	background: url('../_slice/responsabilita2.jpg') no-repeat center top fixed;
}

.responsabilita .item3{
	height: 560px;
	background: url('../_slice/responsabilita3.jpg') no-repeat center top fixed;
}
.responsabilita .item4{
	height: 561px;
	background: url('../_slice/responsabilita4.jpg') no-repeat center bottom fixed;
}
.responsabilita .item1 p{
	color:#30302a;
}
.responsabilita .item3 p{
	color:#30302a;
}
.responsabilita .box-container{
	color:#fff;
}
.responsabilita .box-container h3{
	color:#fff;
}
.responsabilita .item1 h3{
	color:#adaba8;
}
.responsabilita .item3 h3{
	color:#adaba8;
}
.responsabilita .item1 h3{
}

.responsabilita .item2 .cnt
{
    width:510px;
}

.ricerca .item3 h4{
	color:#fff;
}
.ricerca .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	height: 323px;
	background: url('../_slice/ricerca.jpg') no-repeat center top fixed;
}
.ricerca .titleSection h2{
	color:#30302a;
}
.ricerca .titleSection h1{
	color:#30302a;
}
.ricerca .item1{
	height: 562px;
	background: url('../_slice/ricerca1.jpg') no-repeat center top fixed;
}
.ricerca .item1 .cnt{
	width:440px;
}
.ricerca .item2{
	height: 557px;
	background: url('../_slice/ricerca2.jpg') no-repeat center top fixed;
}
.ricerca .item3{
	height: 560px;
	background: url('../_slice/ricerca3.jpg') no-repeat center top fixed;
}
.ricerca .item4{
	height: 561px;
	background: url('../_slice/ricerca4.jpg') no-repeat center bottom fixed;
}
.ricerca .item5{
	height: 561px;
	background: url('../_slice/ricerca5.jpg') no-repeat center bottom fixed;
}
.ricerca .item6{
	height: 561px;
	background: url('../_slice/ricerca6.jpg') no-repeat center bottom fixed;
}
.ricerca .item7{
	height: 561px;
	background: url('../_slice/ricerca7.jpg') no-repeat center bottom fixed;
}
.ricerca .item8{
	height: 561px;
	background: url('../_slice/ricerca8.jpg') no-repeat center bottom fixed;
}
.ricerca .item9{
	height: 561px;
	background: url('../_slice/ricerca9.jpg') no-repeat center bottom fixed;
}
.ricerca .item1 p{
	color:#30302a;
}
.ricerca .item4 p{
	color:#30302a;
}
.ricerca .box-container{
	color:#fff;
}
.ricerca .box-container h3{
	color:#fff;
}
.ricerca .item4 h3{
	color:#adaba8;
}
.ricerca .item1 h3{
	color:#adaba8;
}
.ricerca .item2 h4{
	color:#fff;
}
.ricerca .item5 h4{
	color:#fff;
}
.ricerca .item6 h3{
	color:#adaba8;
}
.ricerca .item7 h3{
	color:#adaba8;
}
.ricerca .item7 p{
	color:#30302a;
}
.ricerca .item8 h3{
	color:#adaba8;
}
.ricerca .item9 h3{
	color:#adaba8;
}
.chiSiamo .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	height: 323px;
	background: url('../_slice/chiSiamo.jpg') no-repeat center top fixed;
}
.chiSiamo .item1{
	height: 562px;
	background: url('../_slice/chiSiamo1.jpg') no-repeat center top fixed;
}
.chiSiamo .item2{
	height: 557px;
	background: url('../_slice/chiSiamo2.jpg') no-repeat center top fixed;
}
.chiSiamo .item3{
	height: 560px;
	background: url('../_slice/chiSiamo3.jpg') no-repeat center top fixed;
}
.chiSiamo .item4{
	height: 561px;
	background: url('../_slice/chiSiamo4.jpg') no-repeat center bottom fixed;
}
.chiSiamo .item4 .cnt{
	position:relative;
}
.chiSiamo .item4 .people1{
	position:absolute;
	left:0;
	top:0;
	width:255px;
	height:677px;
	text-indent:-9999em;
	overflow:hidden;
	filter:alpha(opacity=75); 
	-moz-opacity:.75;
	opacity:.75;
	background-color:#000;
}
.chiSiamo .item4 .people2{
	position:absolute;
	left:255px;
	top:0;
	width:330px;
	height:677px;
	text-indent:-9999em;
	overflow:hidden;
	filter:alpha(opacity=75); 
	-moz-opacity:.75;
	opacity:.75;
	background-color:#000;
}
.chiSiamo .item4 .cntItem4{
	position:absolute;
	left:542px;
	top:0;
	display:none;
	filter:alpha(opacity=0); 
	-moz-opacity:0;
	opacity:0;
}
.chiSiamo .item4 .cntItem4_2{
	display:none;
	position:absolute;
	left:542px;
	top:0;
	filter:alpha(opacity=0); 
	-moz-opacity:0;
	opacity:0;
}
.chiSiamo .item5{
	height: 561px;
	background: url('../_slice/chiSiamo5.jpg') no-repeat center bottom fixed;
}

.chiSiamo .item6{
	height: 557px;
	background: url('../_slice/chiSiamo6.jpg') no-repeat center top fixed;
}

.chiSiamo .item1 h3{
	color:#adaba8;
}
.chiSiamo .item1 p{
	color:#30302a;
}
.chiSiamo .item2 h3{
	color:#fff;
}
.chiSiamo .item3 h3{
	color:#E20023;
}
.chiSiamo .item3 p{
	color:#30302a;
}
.chiSiamo .item4 h3{
	color:#fff;
}
.chiSiamo .item4 .role{
	margin-left:-100px;
}
.chiSiamo .item4 .people{
	margin-left:-100px;
	margin-top:100px;
}
.chiSiamo .item4 .people{
	color:#E20023;
}
.chiSiamo .item4 .viewMore{
	margin-left:130px;
}
.chiSiamo .item5 h3{
	color:#adaba8;
}
.chiSiamo .item5 p{
	color:#30302a;
}
.chiSiamo .item5 ul a{
	color:#E20023;
	font-size:25px;
}
.chiSiamo .item5 ul{
	margin:40px 0 0 0;
	padding:0;
	list-style:none;
} 

.chiSiamo .item6 h3{
	color:#fff;
}

.chiSiamo .item6 h4{
	color:#fff;
}


.chiSiamo .item2 h4{
	color:#fff;
}
.chiSiamo .item2 p{
	color:#fff;
}
.chiSiamo .item4 h4{
	color:#fff;
}
.media .titleSection h2{
	color:#30302a;
}
.media .titleSection h1{
	color:#30302a;
}
.media .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	height: 323px;
	background: url('../_slice/media.jpg') no-repeat center top fixed;
}
.media .item1{
	height: 562px;
	background: url('../_slice/media1.jpg') no-repeat center top fixed;
}
.media .item2{
	height: 557px;
	background: url('../_slice/media2.jpg') no-repeat center top fixed;
}
.media .item3{
	height: 557px;
	background: url('../_slice/media3.jpg') no-repeat center top fixed;
}
.media .item2 h3{
	color:#adaba8;
}
.media .item2 p{
	color:#30302a;
}
.media .item3 h3{
	color:#fff;
}
.storia .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	height: 323px;
	background: url('../_slice/storia.jpg') no-repeat center top fixed;
}
.sedi .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	height: 323px;
	background: url('../_slice/sedi.jpg') no-repeat center top fixed;
}

.press .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	height: 323px;
	background: url('../_slice/press.jpg') no-repeat center top fixed;
}
.press .item1{
	height: 562px;
	background: url('../_slice/press1.jpg') no-repeat center top fixed;
}
.press .item2{
	height: 562px;
	background: url('../_slice/press2.jpg') no-repeat center top fixed;
}
.press .item3{
	height: 562px;
	background: url('../_slice/press3.jpg') no-repeat center top fixed;
}
.press .item4{
	height: 562px;
	background: url('../_slice/press4.jpg') no-repeat center top fixed;
}
.press .item5{
	height: 562px;
	background: url('../_slice/press5.jpg') no-repeat center top fixed;
}
.press .item6{
	height: 562px;
	background: url('../_slice/press6.jpg') no-repeat center top fixed;
}
.press .item7{
	height: 562px;
	background: url('../_slice/press7.jpg') no-repeat center top fixed;
}
.press .item8{
	height: 562px;
	background: url('../_slice/press8.jpg') no-repeat center top fixed;
}
.press .box-container h3{
	color:#000000; /*adaba8*/
}
.press .box-container p{
	color:#404143;
}
.press .item2 h3{
	color:#000;
}
.press .item4 h3{
	color:#fff;
}
.press .item4 h3.num{
	color:#adaba8;
	padding:0 0 50px 0;
}
.press .item4 h3.num2{
	color:#E20023;
	padding:0 0 50px 0;
}
.press .item5 h3{
	color:#000;
}



.areaMedica .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	background: url('../_slice/areaMedica.jpg') no-repeat center top fixed;
}
.areaMedica .titleSection h2{
	color:#000;
}
.areaMedica .titleSection h1{
	color:#000;
}
.areaMedica .item1{
	height: 562px;
	background: url('../_slice/areaMedica1.jpg') no-repeat center top fixed;
}
.areaMedica .item2{
	height: 562px;
	background: url('../_slice/areaMedica2.jpg') no-repeat center top fixed;
}
.areaMedica .item3{
	height: 562px;
	background: url('../_slice/areaMedica3.jpg') no-repeat center top fixed;
}
.areaMedica .item4{
	height: 562px;
	background: url('../_slice/areaMedica4.jpg') no-repeat center top fixed;
}
.areaMedica .box-container h3{
	color:#adaba8;
	margin:0;
}
.areaMedica .item2 h3{
	color:#fff;
}


.areaPartner .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	background: url('../_slice/areaPartner.jpg') no-repeat center top fixed;
}

.areaPartner .titleSection h2{
	color:#000;
}
.areaPartner .titleSection h1{
	color:#000;
}

.areaPartner .item1{
	height: 562px;
	background: url('../_slice/areaPartner1.jpg') no-repeat center top fixed;
}

.areaPartner .item2{
	height: 562px;
	background: url('../_slice/areaPartner2.jpg') no-repeat center top fixed;
}

.areaPartner .item2 h3{
	color:#fff;
}

.areaPartner .item3{
	height: 562px;
	background: url('../_slice/areaPartner3.jpg') no-repeat center top fixed;
}

.areaPartner .item4{
	height: 562px;
	background: url('../_slice/areaPartner4.jpg') no-repeat center top fixed;
}


.etica .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	height: 323px;
	background: url('../_slice/eticatrasparenza1.jpg') no-repeat center top fixed;
}
.etica .item1{
	height: 562px;
	background: url('../_slice/eticatrasparenza2.jpg') no-repeat center top fixed;
}

.etica .item1 h3{
	background: url('../_slice/etiB.png') no-repeat left 20px;
	margin-left:-86px;
	padding-left:86px;
}

.etica .item2{
	height: 562px;
	background: url('../_slice/eticatrasparenza3.jpg') no-repeat center top fixed;
}

.etica .item3{
	height: 562px;
	background: url('../_slice/responsabilita4.jpg') no-repeat center bottom fixed;
}

.responsabilita .item2 p{
    padding:0 0 10px 0;
}
.responsabilita .item2 .viewMore{
    margin:40px 0 0 0;
}
.press .box-container .viewMore{
	/*background: url('../_slice/viewMore1.png') no-repeat left top;*/
}

.press .box-container .viewMoreWhite {
background: url('../_slice/viewMoreWhite.png') no-repeat left top;
}

.contatti .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	background: url('../_slice/contatti.jpg') no-repeat center top fixed;
}

.farmacovigilanza .titleSection{
	position: relative;
	width: 100%;
	height: 323px;
	overflow: hidden;
	background: url('../_slice/farmacovigilanza.jpg') no-repeat center top fixed;
}
.contatti .titleSection h2{
	color:#000;
}
.contatti .titleSection h1{
	color:#000;
}
.chiSiamo .item3 h3{
	background: url('../_slice/etiB.png') no-repeat left 20px;
	margin-left:-86px;
	padding-left:86px;
}
.chiSiamo .item5 h3{
	background: url('../_slice/etiB.png') no-repeat left 20px;
	margin-left:-86px;
	padding-left:86px;
}
.ricerca .item1 h3{
	background: url('../_slice/etiB.png') no-repeat right 20px;
	padding-right:80px;
    width:100%;
}
.ricerca .item6 h3{
	background: url('../_slice/etiB.png') no-repeat left 20px;
	margin-left:-86px;
	padding-left:86px;
}
.ricerca .item7 h3{
	background: url('../_slice/etiG.png') no-repeat left 20px;
	margin-left:-86px;
	padding-left:86px;
}
.soluzioni .item1 h3{
	background: url('../_slice/etiG.png') no-repeat right 20px;
	padding-right:47px;
    width:100%;
}
.soluzioni .item3 h3{
	background: url('../_slice/etiG.png') no-repeat right 20px;
	padding-right:47px;
    width:100%;
}
.responsabilita .item3 h3{
	background: url('../_slice/etiB.png') no-repeat right 20px;
	padding-right:48px;
    width:100%;
}
.media .item2 h3{
	background: url('../_slice/etiB.png') no-repeat right 20px;
	padding-right:50px;
    width:100%;
}
.lavorare .item3 h3{
	background: url('../_slice/etiN.png') no-repeat right 20px;
	padding-right:49px;
    width:100%;
}
.lavorare .item1 h3{
	background: url('../_slice/etiA.png') no-repeat left 20px;
	margin-left:-86px;
	padding-left:86px;
}
.press .item1 h3{
	background: url('../_slice/etiB.png') no-repeat right 20px;
	padding-right:49px;
    width:100%;
}
.press .item3 h3{
	/*background: url('../_slice/etiB.png') no-repeat left 20px;*/
	margin-left:-86px;
	padding-left:86px;
}

#dialog-message
{
    height:auto !important;
}

.colRight
{
    min-height:500px !important;
}