body
{
	padding:10px;
	font-size: 12px;
}

.tablesorter-blue td[colspan]
{
	/*color: red;*/
}

thead tr, thead th, thead td
{
	background-color: #E6E3DF !important;
	color: white;
	text-align: center;
	font-size:11px !important;
}

tbody td
{
font-size:80% !important;
}		

.tablesorter-header-inner
{
	background-color: #E6E3DF !important;
}

table .odd
{
	background-color: #999999;
}

.tablesorter-blue .tablesorter-filter-row .disabled
{
	background-color: #e6e3df;
	border: 0 none;
	cursor: not-allowed;
	opacity: 0.5;
	cursor: default;
}

.widget {padding: 20px 0;}
.selButton{background-color:#E0002D !important;color:#FFF !important;}