#slider-wrapper {
    height: 306px;
    margin: 0 auto;
    width: 970px;
}
#slider {
    background: url("/ProjectDOMPE/_slice/ajax-loader.gif") no-repeat scroll 50% 50% transparent;
    height: 306px;
    position: relative;
    width: 970px;
}
#slider img {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
#slider a {
    border: 0 none;
    display: block;
}
.nivo-controlNav {
 /*   background: url("/ProjectDOMPE/_slice/SliderHome/slidernav_bg.png") no-repeat scroll 0 0 transparent;*/
    height: 21px;
    left: 50%;
    position: absolute;
    top: 306px;
    width: 76px;
    z-index: 30;
}
.nivo-controlNav a {
    background: url("/ProjectDOMPE/_slice/SliderHome/pallino_chiaro.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    float: left;
    height: 8px;
    margin-right: 4px;
    text-indent: -9999px;
    width: 8px;
}
.nivo-controlNav a.active {
    background: url("/ProjectDOMPE/_slice/SliderHome/pallino_grigio.png") no-repeat scroll 0 0 transparent;
}

a.nivo-nextNav {
    background-position: -30px 0;
    right: 1px;
    z-index:999999;
}
a.nivo-prevNav {
    left: 1px;
     z-index:999999;
}
.nivo-caption {
    display: none;
}
.nivo-caption a {
    color: #EFE9D1;
    text-decoration: underline;
}

theme-default .nivo-directionNav a {
    position:absolute;
    bottom:5px
}


.theme-default a.nivo-nextNav {
    background-position:-30px 0; 
    right:15px;
}
.theme-default a.nivo-prevNav {
    right:45px;
}

.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles 
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; 
	width:100%;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
/*.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}*/
/* Control nav styles (e.g. 1,2,3...) */
html > body .nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
	margin: 5px 5px 5px 5px;
}
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
	margin: 5px 5px 5px 4px;
}
.nivo-controlNav a.active {
	font-weight:bold;
}