
body{
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	font-size:12px;
	background-color:#ffffff;
	margin:0;
	padding:0;
}

p{
	margin:0 0 10px 0;
	padding:0;
	font-size: 12px;
}

a{
	color:#742427;
	text-decoration:underline;
}
.bibliography p {
    font-size: 11px;
    margin: 0 0 3px 0;

}
.boxTitleDwn .subTitle p{
	margin-bottom:20px;
	float:left;
	clear:both;
	width:50%;		
}
.boxTitleDwn .subTitle span{
	margin-bottom:20px;
	float:right;	
}
img{
	border:0;
}
.logoPrint{
	clear:both;
	float:left;
	width:400px;
	height:44px;	
}

.noPrintLink, .logo, .containerHeader, .containerFooter, .containerCenter .container .top, .containerCenter .container .bottom, .sfumBottTop, .menu, .sfum2, .sfumBig, .rowHome, .vidPng, .imgBarTitle, .socialCont, .rowInternal2 .rightBlock .info .video, .rowInternal .leftBlock2, .rowInternal .rightBlock2, .rowInternal .leftBlock, .contSubRow .right, .contVidKol, .ulPress, .contPressRoom img, .btnGen, .accordion2, .socialContPrint, .sfumResult, .imgResOver, .ulNav ul li a.imgSel, .boxSendRes{
	display:none;
}
.containerCenter{
    clear: both;
    float: left;
    width: 90%;
}
.containerCenter .container, .containerCenter .container .center, .rowInternal2, .barTitleAdv, .barTitleAdv .title, .boxRowAdv, .rowInternal2 .leftBlock, .rowInternal2 .rightBlock, .barInfoAdv, .rowInternal .rightBlock, .barTitleInt, .bibliography h5, .contPressRoom, .boxDwn, .boxTitleDwn .subTitle, .contSubRow, .resultCont, .results3, .results2, .results1, .range1, .range2, .range3, .resultContBig, .materialCorr{
    clear: both;
	background-image:none;
	background-color:#ffffff;
    float: left;
    width: 100%;
	border:0;
}
.rangeSel{
    clear: both;
	background-image:none;
	background-color:#ffffff;
    float: left;
    width: 100%;
	border:0;
}
.rowTest, .res{
    clear: both;
	background-image:none;
	background-color:#ffffff;
    float: left;
    width: 100%;
	border:0;
	margin:0 0 15px 0;
}
.test{
    clear: both;
	background-image:none;
	background-color:#ffffff;
    float: left;
    width: 100%;
	margin:0 0 30px 0;
	border-bottom: 1px dotted #878787;
}
.rowTest .leftTest{
	clear: both;
    float: left;
    width: 2%;
	margin:2px 0 0 0;
}
.rowTest .rightTest{
    float: left;
    width: 90%;
	margin:3px 0 0 10px;
}
.rowTest .rightTest h5{
	color: #000000;
    font-size: 16px;
    margin: 0;
}
.rowTest .leftTest span{
	margin:5px 0 0 0;
}

.testOdd{
    clear: both;
 background-image:none;
 background-color:#ffffff;
    float: left;
    width: 100%;
 margin:0 0 30px 0;
 border-bottom: 1px dotted #878787;
}