
* { margin:0; padding:0; }

body {
	
	 height:100%;
	 color:#1B1B19;
	 font-family:Arial, Helvetica, sans-serif;
}
img{ 
	 border:none; 
}	
#supersized {
	 position:fixed; 
	 left:0; 
	 top:0; 
	 overflow:hidden; 
	 z-index:-999; 
	 height:100%; 
	 width:100%; 
}
#supersized img{ 
	width:auto; 
	height:auto; 
	position:relative; 
	outline:none; 
	border:none; 
}
#supersized a {
	z-index:-30;
	position:fixed; 
	overflow:hidden; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	background:#111; 
	display:block; 
}
#content{
	clear:both;
	width:318px;
	margin:0 auto;
	margin-top:12%;
}
.containerPrelog{
	clear:both;
	float:left;
	width:318px;	
	margin:0 0 90px 0;
}
.containerPrelog .top{
	clear:both;
	float:left;
	width:318px;	
	height:16px;
	background-image:url("../_slice/topPrelogin.png");
	background-position:left bottom;
	background-repeat:no-repeat;
	opacity:0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
.containerPrelog .center{
	clear:both;
	float:left;
	width:292px;	
	padding:0 26px 0 0;
	opacity:0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	background-image:url("../_slice/centerPrelogin.png");
	background-position:left top;
	background-repeat:repeat-y;	
}
.containerPrelog .bottom{
	clear:both;
	float:left;
	width:318px;	
	height:19px;
	background-image:url("../_slice/bottomPreloginBlack.png");
	background-position:left top;
	background-repeat:no-repeat;	
	opacity:0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
.containerPrelog .center h3{
	text-align:center;
	font-size:18px;
	font-weight:normal;
	margin:24px 0 22px 26px;
}
.containerPrelog .center p{
	text-align:center;
	font-size:12px;
	font-weight:normal;
	margin:0 0 22px 26px;
}
html > body .containerPrelog .center .row{
	clear:both;
	float:left;
	width:262px;
	margin:0 0 10px 26px;
}
.containerPrelog  .center .row{
	clear:both;
	float:left;
	width:262px;
	margin:0 0 10px 9px;
}
.containerPrelog .center .row input{
	clear:both;
	float:left;
	width:250px;
	height:30px;
	padding:0 0 0 10px;
}
.containerPrelog .center .row input{
	padding:8px 0 0 10px\0/IE8+9;
    height:22px\0/IE8+9;
}
.containerPrelog .center .row .forgotPass{
	clear:both;
	float:left;
	width:158px;	
	margin:13px 0 0 0;
	font-size:11px;
}
.containerPrelog .center .row .forgotPass a{
	color:#E53227;
}
.containerPrelog .center .row .btnLog{
	float:left;
	width:102px;	
}
.containerPrelog .center .row .btnLog a{
	clear:both;
	float:left;
	width:102px;
	height:41px;
	overflow:hidden;
	text-indent:-9999em;
	background-image:url("../_slice/btnLoginPrelogin.jpg");
	background-position:left top;
	background-repeat:no-repeat;	
}
html > body .containerPrelog .center .register{
    background-color: #1C1C1A;
    clear: both;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 25px;
    margin: 10px 0 0 10px;
    padding: 12px 0 0;
    text-align: center;
    width: 298px;
}
.containerPrelog .center .register{
    background-color: #1C1C1A;
    clear: both;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 25px;
    margin: 5px 0 0 5px;
    padding: 6px 0 0;
    text-align: center;
    width: 298px;
}
.containerPrelog .center .register a{
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
}
.logoMenariniPrelogin{
	clear:both;
	margin:0 auto;
	width:140px;
}
.logoMenariniPrelogin a{
	clear:both;
	float:left;
	height:49px;
	width:140px;
	overflow:hidden;
	text-indent:-9999em;
	background-image:url("../_slice/logoMenariniPrelogin.png");
	background-position:left top;
	background-repeat:no-repeat;
}

/*REGISTRATION FORM*/

#contentForm{
	clear:both;
	width:638px;
	margin:0 auto;
	margin-top:1%;
}
.containerForm{
	clear:both;
	float:left;
	width:638px;	
	margin:0 0 20px 0;
}
.containerForm .center h3{
	text-align:center;
	font-size:18px;
	font-weight:normal;
	margin:0 0 22px 26px;
}
.containerForm .top{
	clear:both;
	float:left;
	width:638px;	
	height:20px;
	background-image:url("../_slice/regBox_top.png");
	background-position:left bottom;
	background-repeat:no-repeat;
	opacity:0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
.containerForm .center{
	clear:both;
	float:left;
	width:582px;	
	padding:0 28px 10px 28px;
	opacity:0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	background-image:url("../_slice/regBox_center.png");
	background-position:left top;
	background-repeat:repeat-y;	
}

.centerVideo .containerForm .center{
	clear:both;
	float:left;
	width:582px;	
	padding:0 28px 10px 28px;
	opacity:0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    background-image:none;
}

.containerForm .bottom{
	clear:both;
	float:left;
	width:638px;	
	height:60px;
	background-image:url("../_slice/regBox_bottom.png");
	background-position:left top;
	background-repeat:no-repeat;	
	opacity:0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
.containerForm .center .row{
	clear:both;
	float:left;
	width:280px;
	margin:0 0 10px 0;
}
.containerForm .center .row p{
	color:#666666;
	font-size:12px;
	margin:0 0 3px 0;
}
.containerForm .center .row input{
	clear:both;
	float:left;
	width:276px;
	color:#999999;
	font-size:14px;
	height:26px;
	padding:0 0 0 4px;
}
.containerForm .center .row input.captcha{
	clear:both;
	float:left;
	width:106px;
	color:#999999;
	font-size:14px;
	height:26px;
	padding:0 0 0 4px;
}
.containerForm .center .styled-select{
    height: 26px;
    overflow: hidden;
	clear:both;
	float:left;
    width: 240px;
	z-index:100;
	margin:0 0 10px 0;
	background: url("../_slice/bgSelect.gif") no-repeat scroll right center ;
	border:1px solid #999999;
}
.contFormFields .styled-select1
{
    height: 26px;
    overflow: hidden;
	clear:both;
	float:left;
    width: 279px;
	z-index:100;
	margin:0 0 0 0;
	background: url("../_slice/bgSelect.gif") no-repeat scroll right center ;
	border:1px solid #999999;
}
.contFormFields .styled-select1 select{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 0 0 0 0;
    font-size: 14px;
    height: 26px;
    line-height: 1;
	color:#999999;
	-webkit-appearance: none;
    padding: 0 ;
    width: 307px;
}
.centerVideo .containerForm .center .styled-select{
    height: 26px;
    overflow: hidden;
	clear:both;
	float:left;
    width: 240px;
	z-index:100;
	margin:0 0 0 0;
	background: url("../_slice/bgSelect.gif") no-repeat scroll right center ;
	border:1px solid #999999;
}
.containerForm .center .styled-select select{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 0 0 0 0;
    font-size: 14px;
    height: 26px;
    line-height: 1;
	color:#999999;
	-webkit-appearance: none;
    padding: 0 ;
    width: 268px;
}
.containerForm .center .styled-select0{
    height: 26px;
    overflow: hidden;
	clear:both;
	float:left;
    width: 92px;
	display:block;
	margin:0 0 10px 0;
	background: url("../_slice/bgSelect.gif") no-repeat scroll right center ;
	border:1px solid #999999;
}
.containerForm .center .styled-select0 select.title{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 0 0 0 0;
    font-size: 14px;
    height: 26px;
    line-height: 1;
	color:#999999;
	-webkit-appearance: none;
    padding: 0 ;
    width: 120px;
}

.regCodeCont{
	clear:both;
	float:left;
	width:582px;	
	margin:0 0 20px 0;
}
.regCodeCont .txt{
	clear:both;
	float:left;
	width:338px;	
	font-size:12px;
	margin:6px 0 0 0;
	color:#666666;
}
.regCodeCont .insertCode{
	float:left;
	width:222px;
	margin:0 0 0 22px;
}
.regCodeCont .insertCode .arrow{
	clear:both;
	float:left;
	width:50px;	
	margin:12px 0 0 0;
}
.regCodeCont .insertCode .inp{
	float:left;
	width:172px;		
}
.regCodeCont .insertCode .inp input{
	float:left;
	width:162px;	
	border:0;
	padding:0 0 0 10px;
	color:#999999;
	font-size:14px;
	height:46px;
	background-image:url("../_slice/regCode_input.png");
	background-position:left top;
	background-repeat:no-repeat;		
}

.regCodeCont .insertCode .inp input{
 padding:16px 0 0 10px\0/IE8+9;
 height:30px\0/IE8+9;
}

.contFormFields{
	clear:both;
	float:left;
	width:582px;	
}
.contFormFields .left{
	clear:both;
	float:left;
	width:280px;	
}
html > body .contFormFields .right{
	float:left;
	width:280px;
	margin:38px 0 0 20px;	
}
.contFormFields .right{
	float:left;
	width:280px;
	margin:38px 0 0 10px;	
}


html > body .centerVideo .contFormFields .right{
	float:left;
	width:280px;
	margin:60px 0 0 20px;	
}
.centerVideo .contFormFields .right{
	float:left;
	width:280px;
	margin:60px 0 0 10px;	
}



.contCheckForm{
	clear:both;
	float:left;
	width:240px;
}
.contCheckForm .checkLeft{
	clear:both;
	float:left;
	width:60px;
}
.contCheckForm .checkRight{
	float:left;
	width:145px;
	margin:0 0 0 14px;
}
.checkTextArea{
	float:left;
	width:250px;
	margin:0 0 0 0;
}
.contCheckForm span, .checkTextArea span{
    color: #666666;
    font-size: 12px;	
}
.contCheckForm .check, .checkTextArea .check{
	clear:both;
	float:left;
	width:25px;
}
.contCheckForm .check input.ch, .checkTextArea .check input.ch{
	clear:both;
	float:left;
	width:20px;
}
.contCheckForm .label{
	float:left;
	width:auto;
	margin:5px 0 0 0;	
}
.checkTextArea .label{
	float:left;
	width:220px;
	margin:5px 0 0 0;	
}
.contCheckForm .checkRight .inpTel{
	float:left;
	width:108px;	
}
.contCheckForm .checkRight .inpTel input{
	float:left;
	clear:both;
	width:102px !important;	
}
.containerForm textarea{
	clear:both;
	float:left;
	width:250px !important;
	height:50px !important;
	margin:10px 0 0 0;
	color:#666666;
	font-size:12px;
}
a.back{
	clear:both;
	float:left;
	width:96px;
	margin:16px 0 0 30px;	
	color:#ffffff;
	font-size:12px;
	text-decoration:none;
}
.floatRight{
	float:right;
}
.regFormBtn{
	clear:both;
	float:left;
	width:96px;
	margin: 8px 18px 0 0;
	height:35px;
}
.regFormBtn a{
	clear:both;
	float:left;
	width:96px;
	height:35px;
	overflow:hidden;
	text-indent:-9999em;
	background-image:url("../_slice/registerBtn.png");
	background-position:left top;
	background-repeat:no-repeat;
}
.button2 {
    background-image: url("/Dompe/_slice/registerBtn.png");
    background-position: left top;
    background-repeat: no-repeat;
    clear: both;
    float: left;
    height: 35px;
    border:0;
    overflow: hidden;
    text-indent: -9999em;
    width: 96px !important;
    background-color: #000000;
}
/* Messaggio registration ok*/
#MessageOK{
	clear:both;
	width:638px;
	margin:0 auto;
	margin-top:15%;
}
#MessageOK1{
	clear:both;
	width:638px;
	margin:0 auto;
	margin-top:6%;
}

/* forgot password */
#RecoveryPassw{
	clear:both;
	width:638px;
	margin:0 auto;
	margin-top:15%;
}
#RecoveryOK{
	clear:both;
	width:638px;
	margin:0 auto;
	margin-top:15%;
}