@charset "utf-8";
/* CSS Document */


.body .titleSection{
	background-attachment:scroll !important;
}
.body .item1{
	background-attachment:scroll !important;
}
.body .item2{
	background-attachment:scroll !important;
}
.body .item3{
	background-attachment:scroll !important;
}
.body .item4{
	background-attachment:scroll !important;
}
.body .item5{
	background-attachment:scroll !important;
}
.body .item6{
	background-attachment:scroll !important;
}
.body .item7{
	background-attachment:scroll !important;
}
.body .item8{
	background-attachment:scroll !important;
}
.body .item9{
	background-attachment:scroll !important;
}
.body .item10{
	background-attachment:scroll !important;
}
.body .item11{
	background-attachment:scroll !important;
}

.imgs{
	height:330px;
}

.imgs2{
	height:330px;
}

.responsabilita .titleSection {
	background-position-y: -230px !important; 
}