@charset "utf-8";
/* CSS Document */

.presentationBox{
	height:317px;
	background-image:url('/ProjectDOMPE/_slice/imgPage/interna/it/storia.jpg');
}
.presentation{
	height:317px;
	background-image:url('/ProjectDOMPE/_slice/imgPage/interna/storia.gif');
}

