@charset "utf-8";
/* CSS Document */
.presentationBox{
	height:265px;
	background-image:url('/ProjectDOMPE/_slice/imgPage/interna/it/ricerca.jpg');
}
.presentation{
	height:265px;
/*	background-image:url('/ProjectDOMPE/_slice/imgPage/interna/ricerca.gif');*/
}
