@charset "utf-8";
/* CSS Document */

.presentationBox{
	height:320px;
	background-image:url('/ProjectDOMPE/_slice/imgPage/interna/it/apparatoRespiratorio.jpg');
}
.presentation{
	border-bottom: 10px solid #C30505;
    height: 320px;
	/*background-image:url('/ProjectDOMPE/_slice/imgPage/interna/apparatoRespiratorio.gif');*/
}

.presentation {
    background-position: left top;
    background-repeat: repeat-x;
    clear: both;
    float: left;
    margin: 0 0 0px;
    padding: 0;
    width: 100%;
}