@charset "utf-8";
/* CSS Document */

.presentationBox{
	height:320px;
	background-image:url('/ProjectDOMPE/_slice/imgPage/interna/it/infiammazione.jpg');
}
.presentation{
	border-bottom: 10px solid #C30505;
    height: 320px;
	/*background-image:url('/ProjectDOMPE/_slice/imgPage/interna/bgImg.gif');*/
}

