@charset "utf-8";
/* CSS Document */

.presentationBox{
	height:330px;
	background-image:url('/ProjectDOMPE/_slice/imgPage/interna/it/eventi.jpg');
}
.presentation{
	border-bottom: 11px solid #C30505;
    height: 319px;
	/*background-image:url('/ProjectDOMPE/_slice/imgPage/interna/eventi.gif');*/
}

