@charset "utf-8";
/* CSS Document */

.presentationBox{
	height:323px;
	background-image:url('/ProjectDOMPE/_slice/imgPage/interna/it/percorsi.jpg');
}
.presentation{
	height:323px;
	background-image:url('/ProjectDOMPE/_slice/imgPage/interna/percorsi.gif');
}

