@charset "utf-8";
/* CSS Document */

.presentationBox{
	height:330px;
	background-image:url('/ProjectDOMPE/_slice/imgPage/interna/it/66.jpg');
}
.presentation{
	height:330px;
	background-image:url('/ProjectDOMPE/_slice/imgPage/interna/bgImg.gif');
}

